{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View an exercise - JAC contacts{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="index">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="website-listing">Website listing</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="vacancy-information">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="contacts" aria-current="location">Contacts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="timeline">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="shortlisting">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="eligibility-information">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="working-preferences">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="assessment-options">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="downloads">Downloads</a>
					</li>		  
				</ul>
			</nav>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<h2 class="govuk-heading-l float-left_">JAC contacts</h2>
			<!-- <div class="float-right">
				<p class="govuk-body govuk-!-font-weight-bold"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> JAC contacts</span></a></p>
			</div> -->
			<p class="govuk-body"><strong>General enquiries</strong><br /><a class="govuk-link" href="#">enquiries@judicialappointments.digital</a></p>
			<dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-two-thirds">
						<details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
							<summary class="govuk-details__summary">
							  	<span class="govuk-details__summary-text">Senior selection exercise manager</span>
							</summary>
							<div class="govuk-details__text">
								<p class="govuk-body"><a href="#">matthew.hastings@judicialappointments.digital</a><br />020 7450 4000</p>
							</div>
						</details>
					</dt>
					<dd class="govuk-summary-list__value govuk-!-width-one-third">Matt Hastings</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-two-thirds">
						<details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
							<summary class="govuk-details__summary">
							  	<span class="govuk-details__summary-text">Selection exercise manager</span>
							</summary>
							<div class="govuk-details__text">
								<p class="govuk-body"><a href="#">finley marshall@judicialappointments.digital</a><br />020 7450 4000</p>
							</div>
						</details>
					</dt>
					<dd class="govuk-summary-list__value govuk-!-width-one-third">Finley Marshall</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-two-thirds">
						<details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
							<summary class="govuk-details__summary">
							  	<span class="govuk-details__summary-text">Selection exercise officers</span>
							</summary>
							<div class="govuk-details__text">
								<p class="govuk-body"><a href="#">selection-exercise-officers@judicialappointments.digital</a><br />020 7450 4000</p>
							</div>
						</details>
					</dt>
					<dd class="govuk-summary-list__value govuk-!-width-one-third">
						<ul class="govuk-list">
							<li>Ella Rogers</li>
							<li>Jayden Chapman</li>
							<li>Maya Murphy</li>
						</ul>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-two-thirds">
						<details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
							<summary class="govuk-details__summary">
							  	<span class="govuk-details__summary-text">Assigned commissioners</span>
							</summary>
							<div class="govuk-details__text">
								<p class="govuk-body"><a href="#">assigned-commissioners@judicialappointments.digital</a><br />020 7450 4000</p>
							</div>
						</details>
					</dt>
					<dd class="govuk-summary-list__value govuk-!-width-one-third">
						<ul class="govuk-list">
							<li>Paige Stevens</li>
							<li>Oscar Matthews</li>
						</ul>
					</dd>
				</div>	
			</dl>

			<h2 class="govuk-heading-l govuk-!-margin-top-9">Other contacts</h2>
			<p class="govuk-body"><strong>Appropriate authority</strong><br />Lord Chancellor</p>
			<dl class="govuk-summary-list">
				<!-- <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-two-thirds">Appropriate authority</dt>
					<dd class="govuk-summary-list__value govuk-!-width-one-third">Lord Chancellor</dd>
				</div> -->
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-two-thirds">
						<details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">HMCTS or Welsh Government lead</span>
							</summary>
							<div class="govuk-details__text">
								<p class="govuk-body"><a href="#">kyle.ward@judicialappointments.digital</a><br />020 7450 4000</p>
							</div>
						</details>
					</dt>
					<dd class="govuk-summary-list__value govuk-!-width-one-third">
						<p class="govuk-body">Kyle Ward</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-two-thirds">
						<details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Judicial Office</span>
							</summary>
							<div class="govuk-details__text">
								<p class="govuk-body"><a href="#">libby.cooper@judicialappointments.digital</a><br />020 7450 4000</p>
							</div>
						</details>
					</dt>
					<dd class="govuk-summary-list__value govuk-!-width-one-third">
						<p class="govuk-body">Libby Cooper</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-two-thirds">
						<details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Lead judge</span>
							</summary>
							<div class="govuk-details__text">
								<p class="govuk-body"><a href="#">leon.thompson@judicialappointments.digital</a><br />020 7450 4000</p>
							</div>
						</details>
					</dt>
					<dd class="govuk-summary-list__value govuk-!-width-one-third">
						<p class="govuk-body">Leon Thompson</p>
					</dd>
				</div>
				
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-two-thirds">
						<details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
							<summary class="govuk-details__summary">
							  	<span class="govuk-details__summary-text">Drafting judges</span>
							</summary>
							<div class="govuk-details__text">
								<p class="govuk-body"><a href="#">drafting-judges@judicialappointments.digital</a><br />020 7450 4000</p>
							</div>
						</details>
					</dt>
					<dd class="govuk-summary-list__value govuk-!-width-one-third">
						<ul class="govuk-list">
							<li>Rachel Hill</li>
							<li>Megan Turner</li>
						</ul>
					</dd>
				</div>	
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-two-thirds">
						<details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
							<summary class="govuk-details__summary">
							  	<span class="govuk-details__summary-text">Statutory consultees</span>
							</summary>
							<div class="govuk-details__text">
								<p class="govuk-body"><a href="#">statutory.consultees@judicialappointments.digital</a><br />020 7450 4000</p>
							</div>
						</details>
					</dt>
					<dd class="govuk-summary-list__value govuk-!-width-one-third">
						<ul class="govuk-list">
							<li>Imogen Holmes</li>
							<li>Reece Jackson</li>
						</ul>
					</dd>
				</div>	
			</dl>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}