// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
// Override the govuk-frontend font stack
$govuk-font-family: "Khula",
"HelveticaNeue",
"Helvetica Neue",
"Arial",
"Helvetica",
sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

// JAC branding

.govuk-main-wrapper {
	padding-top: 0 !important;
}

.header-background {
    background-color: #f7f7f7;
	padding: 20px 20px 10px 20px;
	margin-top: 0 !important;
}

.header-background h1 a,
.header-background .header-title a,
#navigation li a  {
	color: #753880 !important;
	text-decoration: none;
}

.header-background h1 a:hover,
.header-background .header-title a:hover,
#navigation li a:hover {
	text-decoration: underline;
}

.header-background span {
	color: #753880 !important;
}

.img-border {
	border: 1px solid govuk-colour("black");
	width: 350px;
	// width: 500px;
	// min-width: 463px;
	// width: 50%;
	// margin-top: 60px; 
	margin-bottom: 30px;
	float: right;
}

.govuk-footer {
	border-top: 0;
	background-color: #753880 !important;
	color: govuk-colour("white");
}

.govuk-footer a,
.govuk-footer .govuk-footer__link {
	color: govuk-colour("white");
}

.govuk-width-container {
    max-width: 1200px;
}

.index-page {
    max-width: 960px !important;
}

code {
	background: govuk-colour("light-grey");
	padding: 2px 6px 4px 6px;
}

/* 	==========================================================================
    Media Queries
   	========================================================================== */
	@media only screen and (min-width: 63.8125em) and (max-width: 77.5em) { /* 1021px/16px to 1240px/16px */
	.govuk-width-container {
			margin-left: 30px;
			margin-right: 30px;
		}    
	} 