{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Create an exercise - Your exercises{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<div class="moj-page-header-actions govuk-!-margin-top-8">
				<div class="moj-page-header-actions__title">
		  			<h1 class="govuk-heading-xl">Your exercises</h1>
				</div>
				<div class="moj-page-header-actions__actions">
					<div class="moj-button-menu">
		  				<div class="moj-button-menu__wrapper">
							<button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button" formaction="all-exercises">View all exercises</button>
							<button type="submit" class="govuk-button moj-button-menu__item moj-page-header-actions__action" data-module="govuk-button">Create an exercise</button>
		  				</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<table class="govuk-table govuk-!-margin-bottom-9">
				<caption class="govuk-table__caption hidden">My exercises</caption>
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header hidden">Reference number</th>
						<th scope="col" class="govuk-table__header hidden">Exercise name</th>
				  	</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell exercise-table-cell"><strong>JAC00201</strong></td>
						<td class="govuk-table__cell"><a href="#" class="govuk-link">Fee Paid Specialist Lay Members First-tier Tribunal Health Education and Social Care Chamber (Mental Health jurisdiction) and Mental Health Review Tribunal for Wales (MHRT Wales)</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell exercise-table-cell"><strong>JAC00198</strong></td>
						<td class="govuk-table__cell"><a href="#" class="govuk-link">Fee-paid Financially Qualified Members, First-tier Tribunal, Social Entitlement Chamber (Social Security and Child Support)</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><strong>JAC00105</td>
						<td class="govuk-table__cell"><a href="/current/view-an-exercise/" class="govuk-link">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><strong>JAC00143</td>
						<td class="govuk-table__cell"><a href="#" class="govuk-link">Chair of the Valuation Tribunal for England</a></td>
					</tr>
				</tbody>
			</table> 
		</div> 
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}