{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Create an exercise - Exercises{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<div class="moj-page-header-actions govuk-!-margin-top-8">
				<div class="moj-page-header-actions__title">
		  			<h1 class="govuk-heading-xl">Exercises</h1>
				</div>
				<div class="moj-page-header-actions__actions">
					<div class="moj-button-menu">
		  				<div class="moj-button-menu__wrapper">
							<button type="submit" class="govuk-button moj-button-menu__item moj-page-header-actions__action" data-module="govuk-button">Create an exercise</button>
		  				</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<div class="govuk-tabs" data-module="govuk-tabs">
				<h2 class="govuk-tabs__title">Contents</h2>
				<ul class="govuk-tabs__list">
				  	<li class="govuk-tabs__list-item">
						<a class="govuk-tabs__tab" href="#created-me">Created by me</a>
				  	</li>
				  	<li class="govuk-tabs__list-item">
						<a class="govuk-tabs__tab" href="#my-favourites">My favourites</a>
					</li>
					<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
						<a class="govuk-tabs__tab" href="#all-teams">All teams</a>
				  	</li>
				</ul>
				<!-- Created by me -->
				<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="created-me">
				  	<h2 class="govuk-heading-l hidden">Created by me</h2>
				  	<table class="govuk-table">
						<caption class="govuk-table__caption hidden">Created by me</caption>
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header">Exercise</th>
								<th scope="col" class="govuk-table__header" style="width: 15%;">Created on</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="/current/view-an-exercise/" class="govuk-link">JAC00105 Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</a></td>
								<td class="govuk-table__cell">30 January 2020</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00184 Senior Circuit Judge of the Employment Appeal Tribunal</a></td>
								<td class="govuk-table__cell">6 May 2019</td>
							</tr>
						</tbody>
					</table> 
				</div>
				<!-- My favourites -->
				<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="my-favourites">		
					<h2 class="govuk-heading-l hidden">My favourites</h2>
					<table class="govuk-table">
						<caption class="govuk-table__caption hidden">My favourites</caption>
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header">Exercise</th>
								<th scope="col" class="govuk-table__header" style="width: 15%;">Created on</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00148 Fee-paid Medical Members, First-tier Tribunal, Social Entitlement Chamber (Social Security and Child Support)</a></td>
								<td class="govuk-table__cell">5 April 2020</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00174 Fee-paid Education Panel Members for the Special Educational Needs Tribunal for Wales (SENTW)</a></td>
								<td class="govuk-table__cell">13 March 2020</td>
							</tr>
						</tbody>
					</table> 
				</div>
				<!-- All teams -->
				<div class="govuk-tabs__panel" id="all-teams">
					<h2 class="govuk-heading-l hidden">All teams</h2>
					<table class="govuk-table">
						<caption class="govuk-table__caption hidden">All teams</caption>
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header">Exercise</th>
								<th scope="col" class="govuk-table__header" style="width: 15%;">Created on</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00201 Fee Paid Specialist Lay Members First-tier Tribunal Health Education and Social Care Chamber (Mental Health jurisdiction) and Mental Health Review Tribunal for Wales (MHRT Wales)</a></td>
								<td class="govuk-table__cell">4 May 2020</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00198 Fee-paid Financially Qualified Members, First-tier Tribunal, Social Entitlement Chamber (Social Security and Child Support)</a></td>
								<td class="govuk-table__cell">27 April 2020</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00118 Circuit Judge 2020</a></td>
								<td class="govuk-table__cell">16 April 2020</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00143 Chair of the Valuation Tribunal for England</a></td>
								<td class="govuk-table__cell">20 February 2020</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="/current/view-an-exercise/" class="govuk-link">JAC00105 Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</a></td>
								<td class="govuk-table__cell">30 January 2020</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00251 Fee-paid Appointed Person, Appeal Tribunal, Trade Marks and Fee-paid Appointed Person, Appeal Tribunal, Registered and Unregistered Design</a></td>
								<td class="govuk-table__cell">12 January 2020</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00251 Senior Circuit Judge, Designated Civil Judge</a></td>
								<td class="govuk-table__cell">4 December 2019</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00176 Regional Employment Judge</a></td>
								<td class="govuk-table__cell">19 November 2019</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00180 Chair of the Valuation Tribunal for England</a></td>
								<td class="govuk-table__cell">11 November 2019</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00219 Fee-paid Judge of the First-tier Tribunal and Fee-paid Judge of the Employment Tribunal for England and Wales</a></td>
								<td class="govuk-table__cell">31 October 2019</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00122 Deputy District Judge (Civil)</a></td>
								<td class="govuk-table__cell">31 October 2019</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00276 Chamber President of the First-tier Tribunal, Health, Education and Social Care Chamber</a></td>
								<td class="govuk-table__cell">15 October 2019</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell"><a href="#" class="govuk-link">JAC00323 s9(1) Authorisation to act as a High Court Judge</a></td>
								<td class="govuk-table__cell">2 October 2019</td>
							</tr>
						</tbody>
					</table> 
				</div>
			</div>
		</div> 
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}