{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View and process applications - JAC00105-abc0001{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="applied" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Website listing</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Contacts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Downloads</a>
					</li>		  
				</ul>

				<h4 class="moj-side-navigation__title">Applications</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#" aria-current="location">Drafts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Applied</a>
					</li>
				</ul>
			
				<h4 class="moj-side-navigation__title">Stages</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="applied">Applied (100)</a>
					</li>
					{% if data['update-status'] == "Passed scenario test" and data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (5)</a>
					</li>
					{% elseif data['update-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (1)</a>
					</li>
					{% elseif data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (4)</a>
					</li>
					{% else %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (0)</a>
					</li>
					{% endif %}
					<li class="moj-side-navigation__item">
						<a href="selected">Selected (0)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="recommended">Recommended (0)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="handover">Handover (0)</a>
					</li> 
				</ul>
			</nav>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<!-- <span class="govuk-caption-l">Application</span> -->
			<h2 class="govuk-heading-l">JAC00105-abc0001</h2>
			<p class="govuk-body">TBC - include submitted date</p>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
				  	<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<!-- <h3 class="govuk-fieldset__heading">Update the status for this application</h3> -->
						<h3 class="govuk-fieldset__heading">Add status / Update status (TBC)</h3>
					</legend>
					<div class="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status" name="update-status" type="radio" value="Passed sift" {{ checked("update-status", "Passed sift") }}>
							<label class="govuk-label govuk-radios__label" for="update-status">Passed sift</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-2" name="update-status" type="radio" value="Failed sift" {{ checked("update-status", "Failed sift") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-2">Failed sift</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-3" name="update-status" type="radio" value="Submitted first test(s)" {{ checked("update-status", "Submitted first test(s)") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-3">Submitted first test(s)</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-4" name="update-status" type="radio" value="Submitted scenario test" {{ checked("update-status", "Submitted scenario test") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-4">Submitted scenario test</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-5" name="update-status" type="radio" value="Passed first test(s)" {{ checked("update-status", "Passed first test(s)") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-5">Passed first test(s)</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-6" name="update-status" type="radio" value="Passed scenario test" {{ checked("update-status", "Passed scenario test") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-6">Passed scenario test</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-7" name="update-status" type="radio" value="No test submitted" {{ checked("update-status", "No test submitted") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-7">No test submitted</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-8" name="update-status" type="radio" value="Test submitted over time" {{ checked("update-status", "Test submitted over time") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-8">Test submitted over time</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-9" name="update-status" type="radio" value="Withdrew application" {{ checked("update-status", "Withdrew application") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-9">Withdrew application</label>
						</div>
				  	</div>
				</fieldset>
			</div>

			<button class="govuk-button" data-module="govuk-button">Save and return</button> 
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}