{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View an exercise - Timeline{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="index">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="website-listing">Website listing</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="vacancy-information">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="contacts">Contacts</a>
					</li>
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="timeline" aria-current="location">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="shortlisting">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="eligibility-information">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="working-preferences">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="assessment-options">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="downloads">Downloads</a>
					</li>		  
				</ul>
			
				<h4 class="moj-side-navigation__title">Applications</h4> 
				<!-- <h4 class="moj-side-navigation__title">Applicants</h4> -->
				<ul class="moj-side-navigation__list">
					<!-- <li class="moj-side-navigation__item">
						<a href="applications">Applications</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="diversity">Diversity report</a>
					</li> -->
					<li class="moj-side-navigation__item">
						<a href="submitted">Submitted</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="in-progress">In progress</a>
					</li>
				</ul>

				<h4 class="moj-side-navigation__title">Reports</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="diversity">Diversity</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<h2 class="govuk-heading-l float-left_">Timeline</h2>
			<!-- <div class="float-right">
				<p class="govuk-body govuk-!-font-weight-bold"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> timeline</span></a></p>
			</div> -->
			
			<div class="moj-timeline clearfix">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Situational judgement QT outcome to candidates</h2>
					</div>
					<p class="moj-timeline__date">25 March 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Critical analysis QT outcome to candidates</h2>
					</div>
					<p class="moj-timeline__date">25 March 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">JAC Contacts Independent Assessors</h2>
					</div>
					<p class="moj-timeline__date">25 March 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Shortlisting outcome</h2>
					</div>
					<p class="moj-timeline__date">April 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Return date for independent assessments</h2>
					</div>
					<p class="moj-timeline__date">8 April 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Eligibility SCC</h2>
					</div>
					<p class="moj-timeline__date">9 April 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Sift</h2>
					</div>
					<p class="moj-timeline__date">15 April 2020 to 22 April 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Character checks</h2>
					</div>
					<p class="moj-timeline__date">24 April 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Selection Day - Cardiff, Wales</h2>
					</div>
					<p class="moj-timeline__date">18 May 2020 to 29 May 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Statutory consultation</h2>
					</div>
					<p class="moj-timeline__date">17 June 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Character and Selection SCC</h2>
					</div>
					<p class="moj-timeline__date">23 July 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Equal merit second stage</h2>
					</div>
					<p class="moj-timeline__date">13 August 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Selection process outcome</h2>
					</div>
					<p class="moj-timeline__date">September 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">EMP Outcomes</h2>
					</div>
					<p class="moj-timeline__date">September 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">EMP SCC</h2>
					</div>
					<p class="moj-timeline__date">10 September 2020</p>
				</div>
			</div>

			<details class="govuk-details" data-module="govuk-details">
				<summary class="govuk-details__summary">
					<span class="govuk-details__summary-text">Past dates</span>
				</summary>
				<div class="past-timeline">
					<div class="moj-timeline clearfix govuk-!-margin-top-2">
						<div class="moj-timeline__item">
							<div class="moj-timeline__header">
								<h2 class="moj-timeline__title">Open for applications</h2>
							</div>
							<p class="moj-timeline__date">18 February 2020</p>
						</div>
						<div class="moj-timeline__item">
							<div class="moj-timeline__header">
								<h2 class="moj-timeline__title">Closed for applications</h2>
							</div>
							<p class="moj-timeline__date">3 March 2020</p>
						</div>
						<div class="moj-timeline__item">
							<div class="moj-timeline__header">
								<h2 class="moj-timeline__title">Situational judgement qualifying test (QT)</h2>
							</div>
							<p class="moj-timeline__date">19 March 2020 at 7:00am to 9:00pm</p>
						</div>
						<div class="moj-timeline__item">
							<div class="moj-timeline__header">
								<h2 class="moj-timeline__title">Critical analysis qualifying test (QT)</h2>
							</div>
							<p class="moj-timeline__date">19 March 2020 at 7:00am to 9:00pm</p>
						</div> 
					</div>
				</div>
			</details>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}