{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View an exercise - Vacancy information{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="index">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="website-listing">Website listing</a>
					</li>
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="vacancy-information" aria-current="location">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="contacts">Contacts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="timeline">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="shortlisting">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="eligibility-information">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="working-preferences">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="assessment-options">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="downloads">Downloads</a>
					</li>		  
				</ul>
			</nav>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<h2 class="govuk-heading-l float-left_">Vacancy information</h2>
			<!-- <div class="float-right">
				<p class="govuk-body govuk-!-font-weight-bold"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> vacancy information</span></a></p>
			</div> -->
			<dl class="govuk-summary-list clearfix">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Type of exercise</dt>
					<dd class="govuk-summary-list__value">Legal</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Is the vacancy for a court or tribunal?</dt>
					<dd class="govuk-summary-list__value">Tribunal</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Jurisdiction</dt>
					<dd class="govuk-summary-list__value">
						<ul class="govuk-list govuk-list--bullet">
							<li>Mental Health Review Tribunal for Wales</li>
						</ul>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Waived statutory consultation?</dt>
					<dd class="govuk-summary-list__value">No</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Appointment type</dt>
					<dd class="govuk-summary-list__value">Fee paid: £512</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Is salaried part-time working (SPTW) offered?</dt>
					<dd class="govuk-summary-list__value">&nbsp;</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Number of vacancies</dt>
					<dd class="govuk-summary-list__value">20 Immediate start (S87)</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Location</dt>
					<dd class="govuk-summary-list__value">Wales. Candidates must be available to hear cases and travel independently throughout Wales and be able stay overnight where necessary.</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Waived statutory consultation?</dt>
					<dd class="govuk-summary-list__value">
						<ul class="govuk-list govuk-list--bullet">
							<li>Speak Welsh</li>
							<li>Read and/or write Welsh</li>
							<li>Welsh administration questions</li>
						</ul>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Role summary</dt>
					<dd class="govuk-summary-list__value">The JAC has been asked to identify 20 candidates suitable for selection as Fee-paid Legal Members of the Mental Health Review Tribunal for Wales. The Mental Health Review Tribunal for Wales is an independent judicial body responsible for deciding upon the necessity for the continued compulsory detention of mentally disordered patients in hospital or the continuation of a conditional discharge, guardianship, or a community treatment order.</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">About the role</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body"><a href="#" class="govuk-link">Ferwinn Cymraeg</a></p>
						<p class="govuk-body">The Mental Health Review Tribunal for Wales is an independent judicial body responsible for deciding upon the necessity for the continued compulsory detention of mentally disordered patients in hospital or the continuation of a conditional discharge, guardianship, or a community treatment order. Its powers and duties are set out in the <a href="#" class="govuk-link">Mental Health Act 1983</a>. Its procedures are defined in the <a href="#" class="govuk-link">Mental Health Review Tribunal for Wales Rules 2008</a>.</p>
						<p class="govuk-body">All patients liable to be detained under the provisions of the Mental Health Act, or subject to a conditional discharge, guardianship or a community treatment order have the right to seek a review of their case by applying to the tribunal. Furthermore, if a patient has not made an application by the end of a period specified in the Act, Welsh Ministers or the hospital managers (as the case may be) are obliged to refer the patient’s case to the tribunal, thus ensuring that all cases are subject to regular review. The powers of this tribunal are significant, with a responsibility to balance the liberty of the subject with potentially serious risk to the patient, their families and the public. Tribunal hearings are usually held in private.</p>
						<p class="govuk-body">The Mental Health Review Tribunal for Wales covers the whole of Wales. Under current arrangements, a tribunal will be composed of three members including one legal member, one medical member and one specialist lay member. The legal member always presides over the hearing.</p>
						<ul class="govuk-list">
							<li>
								<a class="govuk-link" href="#">Job description</a>
							</li>
							<li>
								<a class="govuk-link" href="#">Terms and conditions</a>
							</li>
						</ul>
						<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Eligibility</span>
							</summary>
							<p class="govuk-body govuk-!-padding-top-2">To be considered for appointment, you must meet the eligibility requirements for this post. As we will not be assessing eligibility until <strong>after</strong> shortlisting, it is your responsibility, and in your own interest, to ensure you meet the eligibility requirements before submitting an application.</p>
							<h3 class="govuk-heading-s">Statutory eligibility</h3>
							<p class="govuk-body"><a class="govuk-link" href="#">The Mental Health Act 1983</a> provides that Legal Members of the Mental Health Review Tribunal for Wales shall have “such legal experience as the Lord Chancellor considers suitable”. On this occasion, the Lord Chancellor has decided that only:</p>
							<ul class="govuk-list govuk-list--bullet">
								<li>barristers;</li>
								<li>solicitors; and</li>
								<li>Fellows of CILEx</li>
							</ul>
							<p class="govuk-body">with over <strong>five years’</strong> <a class="govuk-link" href="#">post qualification experience</a> will be considered for appointment to this role.</p>
							<h3 class="govuk-heading-s">Citizenship</h3>
							<p class="govuk-body">At the time of application, candidates must be a:</p>
							<ul class="govuk-list govuk-list--bullet">
								<li>UK citizen;</li>
								<li>citizen of another Commonwealth country; or</li>
								<li>citizen of the Republic of Ireland</li>
							</ul>
							<p class="govuk-body">Other European Union citizens are not eligible to apply.</p>
							<h3 class="govuk-heading-s">Reasonable length of service</h3>
							<p class="govuk-body">There is no upper or lower age limit for candidates apart from the statutory retirement age of 70. However, the age at which someone is appointed as a Legal Member of the Mental Health Review Tribunal for Wales should allow for a reasonable length of service. For this position it is usually <strong>five</strong> years before retirement.</p>
							<p class="govuk-body">The JAC will decide whether a candidate will be able to provide a reasonable length of service.</p>
							<p class="govuk-body">Candidates who already hold judicial appointment and were first appointed before March 1995, may have a preserved retirement age of 72. This includes candidates first appointed to a judicial office listed in Schedule 7 to the Judicial Pensions and Retirement Act 1993. Such candidates should inform the JAC about their retirement age.</p>
							<h3 class="govuk-heading-s">Post in Wales</h3>
							<p class="govuk-body">Candidates applying for this post need to have an understanding, or the ability to acquire the understanding, of the administration of justice in Wales. This includes legislation applicable to Wales and Welsh devolution arrangements. This will be assessed at selection day.</p>
							<h3 class="govuk-heading-s">Disqualification</h3>
							<p class="govuk-body">You should note that the <a class="govuk-link" href="#">House of Commons Disqualification Act 1975</a> applies to this office. For further details please refer to the Terms of Appointment and Conditions of Service document.</p>
						</details>
						<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Selection process</span>
							</summary>
							<p class="govuk-body govuk-!-padding-top-2">Read the <a class="govuk-link" href="#">competency framework</a> for the role and the job description before making your application. There are <strong>five</strong> competencies in total that list the behaviours of a <strong>Fee-paid Legal Member of the Mental Health Review Tribunal for Wales</strong> who is performing the role effectively.</p>
							<h3 class="govuk-heading-s">Self-assessment</h3>
							<p class="govuk-body">Your online application plays an important part in the selection process. You must complete all required sections, ensuring the information you provide is clear and accurate.</p>
							<p class="govuk-body">The self-assessment section of the application is your opportunity to tell us about the experience and knowledge you have for the post. You must provide examples and evidence of why you feel your skills and experience are transferable to the post and why they will enable you to perform effectively in the role. You should link your examples to the competencies required for the post having regard to the job description. The self-assessment should not simply be a reiteration of your career history.</p>
							<p class="govuk-body">Guidance on <a class="govuk-link" href="#">completing the candidate self-assessment</a> and <a class="govuk-link" href="#">choosing the best examples in your self-assessment</a>.</p>
							<h3 class="govuk-heading-s">Independent assessments</h3>
							<p class="govuk-body">At the point of application, you will be required to submit contact details for two independent assessors. Read the <a class="govuk-link" href="#">guidance about independent assessments</a> before completing your application. Independent assessments will contribute to your overall assessment. They should provide evidence that you have the abilities relevant to the role as outlined in the competency framework.</p>
							<p class="govuk-body">Independent assessments will be requested on <strong>25 March 2020</strong> and must be returned by <strong>8 April 2020</strong>. Late independent assessments may not be considered. You are therefore strongly advised to notify your assessors in advance of submitting your application that you intend to apply, and inform them of the period during which assessments will be sought.</p>
							<p class="govuk-body">You must ensure the correct details (title and email addresses) are provided as all correspondence with your independent assessors will be by email. Errors will cause delays in your assessor being contacted.</p>
							<p class="govuk-body">You are asked not to nominate an assessor who you know is applying for this exercise. Nor should you nominate:</p>
							<ul class="govuk-list govuk-list--bullet">
								<li>the President of Welsh Tribunals, Sir Wyn Williams;</li>
								<li>the President of the Mental Health Review Tribunal for Wales, Carolyn Kirby; or</li>
								<li>a <a class="govuk-link" href="#">JAC Commissioner</a></li>
							</ul>
							<p class="govuk-body">If after reading the guidance linked to above you are unsure of who you should nominate as an independent assessor, please contact the selection team using the contact details below.</p>
							<h3 class="govuk-heading-s">Shortlisting</h3>
							<p class="govuk-body">The number of applications we receive will determine the means by which shortlisting decisions are taken. If the number of applications far exceeds the number of vacancies, we will use both an online qualifying test and then a paper sift to determine which candidates are invited to a selection day. If fewer applications are received and an online qualifying test is not deemed necessary, shortlisting will be by paper sift only, taking account of taking into account the information contained within your application and independent assessments.</p>
							<p class="govuk-body">All applicants will receive an email advising whether the online qualifying test will be taking place by XX Month 2020. If you have not received this email by XX month 2020 please contact the selection team at <a class="govuk-link" href="#">MHRTW161@judicialappointments.gov.uk</a>.</p>
							<h3 class="govuk-heading-s">Online qualifying test</h3>
							<p class="govuk-body">Should an online qualifying test be required, all applicants will be invited to participate and will receive qualifying test instructions by email by <strong>12 March 2020</strong>. If you have not received this email by noon on 12 March 2020 please contact the JAC immediately. The online qualifying test would then take place on <strong>19 March 2020</strong> between <strong>7am</strong>and <strong>9pm</strong>.</p>
							<p class="govuk-body">The qualifying test will consist of a multiple choice situational judgement test and a multiple choice critical analysis test and should last no longer than approximately 90 minutes.</p>
							<p class="govuk-body">If you are unable to sit the test on the date specified above due to exceptional circumstances, please email <a class="govuk-link" href="#">MHRTW161@judicialappointments.gov.uk</a> and we will arrange for you to take the test on a later date (which will fall no more than a week after the original date).</p>
							<p class="govuk-body">All candidates should make the necessary arrangements to sit the test in a suitable and quiet environment ensuring consistent and reliable access to a stable internet connection.</p>
							<p class="govuk-body"><a class="govuk-link" href="#">Information about qualifying tests</a></p>
							<h3 class="govuk-heading-s">Paper sift</h3>
							<p class="govuk-body">If you are successful in the online qualifying test, or in all cases should an online qualifying test be deemed unnecessary, a sift panel consisting of a JAC panel chair and one judicial member will carry out a paper sift, taking into account the information contained within your application and independent assessments.</p>
							<p class="govuk-body"><a class="govuk-link" href="#">Information about sifts</a></p>
							<h3 class="govuk-heading-s">Selection day</h3>
							<p class="govuk-body">Shortlisted candidates will be invited to attend a selection day. Selection days will take place in <strong>Cardiff</strong> between <strong>18 and 22 May</strong> and <strong>26 and 29 May 2020</strong>. We will not be able to offer an alternative selection day outside this period.</p>
							<p class="govuk-body">The selection day will comprise situational questioning and a competency-based interview where the selection panel will be seeking evidence from you against the competencies for the post. Situational questioning involves asking you what you would do in a specific situation, based on challenging, real-life scenarios. Further details of the situational questioning will be sent with the selection day invitation letter.</p>
							<p class="govuk-body"><a class="govuk-link" href="#">Information about selection day, including interviews and situational questioning</a></p>
							<h3 class="govuk-heading-s">Statutory consultation</h3>
							<p class="govuk-body">As required by the Judicial Appointments Regulations 2013, the JAC is required to consult a person (other than the Appropriate Authority) who has held the office we are selecting for, or who has other relevant experience. In this exercise the JAC will consult with the <strong>President of Welsh Tribunals, Sir Wyn Williams</strong>. The information provided by the statutory consultee will be used to inform selection decisions.</p>
							<p class="govuk-body"><a class="govuk-link" href="#">Information on statutory consultation</a></p>
							<h3 class="govuk-heading-s">Reasonable adjustments</h3>
							<p class="govuk-body">The JAC provides reasonable adjustments to ensure candidates with a disability are not placed at a disadvantage. We will also consider making reasonable adjustments for those candidates with a short-term injury or temporary illness. You may request a reasonable adjustment in your application.</p>
							<p class="govuk-body"><a class="govuk-link" href="#">Information on the reasonable adjustments policy</a></p>
							<h3 class="govuk-heading-s">Character checks</h3>
							<p class="govuk-body">The JAC is required to carry out character checks on all candidates whom it intends to consider for appointment. All candidates who are shortlisted for invitation to selection day will be required to sign a character consent form.</p>
							<p class="govuk-body">You should be aware that the JAC expects all character matters to be declared. Any matter that has not been disclosed by you and is brought to the JAC’s attention through its independent checks will be treated as your non-declaration of a relevant matter. You will have no opportunity to make further representations on any declared issue once the matter is before the Selection and Character Committee.</p>
							<p class="govuk-body">The JAC considers that it is your responsibility to ensure that any record concerning your character is accurate. Details of the bodies with whom JAC will make independent character enquiries are set out in paragraph 17 of the <a class="govuk-link" href="#">Good Character Guidance</a> and you may wish to contact your professional body to ensure all matters recorded are known to you.</p>
							<p class="govuk-body">On 4 August 2016 the Rehabilitation of Offenders Act 1974 (Exceptions) Order 1975 (Amendment) (England and Wales) Order 2016 came into effect. It allows for the full disclosure to the JAC of all spent cautions and convictions to assess good character. You must declare and disclose all past convictions and cautions, regardless of whether they are spent or unspent.</p>
							<p class="govuk-body">You must continue to update the character section of your JAC profile. You have a continuing responsibility to disclose any matter that may arise at any time before you are notified of the outcome of your application.</p>
							<p class="govuk-body">Failure to disclose any relevant matter is likely to have an adverse effect on your application.</p>
							<h3 class="govuk-heading-s">Equal merit provision</h3>
							<p class="govuk-body">In line with its published policy, the Commission will apply the <a class="govuk-link" href="#">equal merit provision</a> to this exercise. Guidance on the approach taken by the JAC to equal merit can found <a class="govuk-link" href="#">here</a>.</p>
							<p class="govuk-body">If the Commission, sitting as the Selection and Character Committee, considers two or more candidates to be of equal merit, a candidate may be selected for the purpose of increasing judicial diversity. The Committee will use the provision based on the data declared by candidates in the diversity part of their online application.</p>
							<p class="govuk-body">The relevant data used to identify under-representation is taken from the 2011 Census, detailed Characteristics, England and Wales (ONS 2012) and the <a class="govuk-link" href="#">diversity statistics</a> showing the background of the courts judiciary (as of 1 April 2019).</p>
							<p class="govuk-body">The population of the United Kingdom (usual residents) aged 25 to 74 that are women is 50.4%, while 11.3% of the UK population identifies as being from a Black, Asian or Ethnic Minority (BAME) background. The proportion of <strong>Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</strong> that are women is XX% and of those who declared their ethnicity XX% declared they were from a BAME background.</p>
							<p class="govuk-body">If the Committee has applied the equal merit provision, it may be presented with a situation whereby it is unable to choose between two or more candidates on the basis of their relevant protected characteristics. For example, two candidates assessed as being of equal merit may both be white men. If this situation arises, the equal merit provision cannot be used to make a selection. Therefore, the Committee will invite those candidates to an equal merit second interview or online test, to enable it to make a selection decision. This would take place in <strong>August 2020</strong>.</p>
							<h3 class="govuk-heading-s">Selection decisions</h3>
							<p class="govuk-body">The Selection and Character Committee will consider which candidates to recommend to the Appropriate Authority as set out in the Judicial Appointments Regulations 2013.</p>
							<p class="govuk-body">In order to consider a recommendation, the Appropriate Authority may request any information that was available to the JAC in making its recommendation. You should be aware that any information you provide in your application or during the selection process could be passed onto the Appropriate Authority.</p>
							<p class="govuk-body">For this exercise the Appropriate Authority will be the <strong>Lord Chancellor</strong> who can accept or reject a recommendation or ask the Commission to reconsider. The Appropriate Authority may not select an alternative candidate.</p>
						</details>
						<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Outcome of the exercise</span>
							</summary>
							<p class="govuk-body govuk-!-padding-top-2">The JAC will issue results by email to all those interviewed at the same time. We hope this will be by the <strong>end of September 2020</strong>.</p>
							<p class="govuk-body">If you are not successful following the selection day, you can request written feedback by emailing <a class="govuk-link" href="#">MHRTW161@judicialappointments.gov.uk</a>. You should make this request within <strong>six</strong> weeks of the email informing you that you have not been successful. We will aim to respond to your request within 20 working days.</p>
						</details>
						<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Training</span>
							</summary>
							<p class="govuk-body govuk-!-padding-top-2">Training will be provided as required. Newly appointed fee-paid office holders will be required to attend and satisfactorily complete an initial induction course. During the course of their appointment, office holders are required to undertake such further ongoing training as may be arranged and required by the President of the Mental Health Review Tribunal for Wales.</p>
						</details>
						<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Contact</span>
							</summary>
							<p class="govuk-body govuk-!-padding-top-2">If you have any questions regarding this role or your application, please contact a member of the selection exercise team at <a class="govuk-link" href="#">MHRTW161@judicialappointments.gov.uk</a> or telephone:</p>
							<p class="govuk-body"><strong>Chammie Cheriton</strong><br />Selection Exercise Officer on 07771 900 900</p>
							<p class="govuk-body"><strong>Emaline Faucher</strong><br />Selection Exercise Manager on 07771 900 900</p>
							<p class="govuk-body"><strong>Matt Hastings</strong><br />Senior Selection Exercise Manager on 07771 900 900</p>
						</details>
					</dd>
				</div>	
			</dl>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}