{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View and process applications - Handover (10){% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Website listing</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Contacts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Downloads</a>
					</li>		  
				</ul>

				<h4 class="moj-side-navigation__title">Applications</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#" aria-current="location">Drafts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Applied</a>
					</li>
				</ul>
			
				<h4 class="moj-side-navigation__title">Stages</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">Applied (100)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisted (50)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Selected (30)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Recommended (20)</a>
					</li>
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="#">Handover (10)</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<h2 class="govuk-heading-l">Handover (10)</h2> 
			<!-- <div class="moj-page-header-actions">
				<div class="moj-page-header-actions__title">
				  	<h2 class="govuk-heading-l">Recommended (20)</h2>
				</div>
				<div class="moj-page-header-actions__actions">
					<div class="moj-button-menu">
				  		<div class="moj-button-menu__wrapper">
							<button type="submit" class="govuk-button moj-button-menu__item moj-page-header-actions__action" data-module="govuk-button">Bulk action (TBC)</button>
				  		</div>
					</div>
				</div>
			</div> -->
		</div>
		<div class="govuk-grid-column-three-quarters">
			<table class="govuk-table jac-table govuk-!-margin-bottom-4">
				<caption class="govuk-table__caption hidden">Handover applications</caption>
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Reference number</th>
						<th scope="col" class="govuk-table__header">Name</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<!-- 1 to 10 -->
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0001</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Max Talbot</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0006</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Alex Potter</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0007</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Connor Wood</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0013</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Isobel Kemp</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0028</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Luca Knight</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0032</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Muhammad Skinner</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0036</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Thomas Dunn</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0039</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Brandon Kelly</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0040</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Caitlin Myers</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0044</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Muhammad Chapman</a></td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}