{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View an exercise - Overview{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="#" aria-current="location">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Website listing</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Contacts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Downloads</a>
					</li>		  
				</ul>
			
				<h4 class="moj-side-navigation__title">Applications</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">Drafts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Applied (100)</a>
					</li>
					<!-- <li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (50)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="selected">Selected (30)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="recommended">Recommended (20)</a>
					</li> -->
				</ul>
			</nav>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-half">
					<div class="panel govuk-!-margin-bottom-4">
						<h2 class="govuk-heading-l">Number of vacancies</h2>
						<span class="govuk-caption-m">Immediate start (S87)</span>
						<h2 class="govuk-heading-xl govuk-!-margin-bottom-6">20</h2>
					</div>
					<div class="panel govuk-!-margin-bottom-4">
						<h2 class="govuk-heading-l">Number of applications</h2>
						<h2 class="govuk-heading-xl govuk-!-margin-bottom-6">100</h2>
					</div>
					<!-- <div class="panel">
						<h2 class="govuk-heading-l">Number of applications</h2>
						<div class="govuk-grid-row">
							<div class="govuk-grid-column-one-half">
								<span class="govuk-caption-m">Applied</span>
								<h2 class="govuk-heading-xl govuk-!-margin-bottom-6">100</h2>
							</div>
							<div class="govuk-grid-column-one-half">
								<span class="govuk-caption-m">Drafts</span>
								<h2 class="govuk-heading-xl govuk-!-margin-bottom-6">17</h2>
							</div>
						</div>
					</div> -->
				</div>
				<div class="govuk-grid-column-one-half">
					<div class="panel govuk-!-margin-bottom-4 blue-panel">
						<span class="govuk-caption-m">Published</span>
						<h2 class="govuk-heading-m govuk-!-margin-bottom-0">Approved</h2>
					</div>
					<div class="moj-timeline">
						<div class="moj-timeline__item">
							<div class="moj-timeline__header">
								<h2 class="moj-timeline__title">Eligibility SCC</h2>
							</div>
							<p class="moj-timeline__date govuk-!-font-size-19">9 April 2020</p>
						</div>
						<div class="moj-timeline__item">
							<div class="moj-timeline__header">
								<h2 class="moj-timeline__title">Sift</h2>
							</div>
							<p class="moj-timeline__date govuk-!-font-size-19">15 April 2020 to 22 April 2020</p>
						</div>
						<div class="moj-timeline__item govuk-!-padding-bottom-0">
							<div class="moj-timeline__header">
								<p class="govuk-body"><a href="#" class="govuk-link">View timeline</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-9">
			<button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">TBC</button>
			<button class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="#">TBC</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}