{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View and process applications - Drafts{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Website listing</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Contacts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Downloads</a>
					</li>		  
				</ul>
			
				<h4 class="moj-side-navigation__title">Applications</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="index" aria-current="location">Drafts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="applied">Applied</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<h2 class="govuk-heading-l">Drafts</h2>
			<h3 class="govuk-heading-m">11 applications</h3>
			<table class="govuk-table jac-table govuk-!-margin-bottom-9">
				<caption class="govuk-table__caption hidden">Draft applications</caption>
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Name</th>
						<th scope="col" class="govuk-table__header">Created on</th>
						<th scope="col" class="govuk-table__header">Last updated</th>
					  </tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Sharon Schmidt</a></td>
						<td class="govuk-table__cell">18 February 2020</td>
						<td class="govuk-table__cell">29 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Yasmin Humphries</a></td>
						<td class="govuk-table__cell">18 February 2020</td>
						<td class="govuk-table__cell">26 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Matthew Jones</a></td>
						<td class="govuk-table__cell">18 February 2020</td>
						<td class="govuk-table__cell">25 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Brenda Palmer</a></td>
						<td class="govuk-table__cell">18 February 2020</td>
						<td class="govuk-table__cell">22 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Sofia Dennis</a></td>
						<td class="govuk-table__cell">18 February 2020</td>
						<td class="govuk-table__cell">18 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Enor Anidi-Ryz</a></td>
						<td class="govuk-table__cell">18 February 2020</td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Helen Perkins</a></td>
						<td class="govuk-table__cell">19 February 2020</td>
						<td class="govuk-table__cell">1 March 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Riley Walton</a></td>
						<td class="govuk-table__cell">19 February 2020</td>
						<td class="govuk-table__cell">1 March 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Terry Andrews</a></td>
						<td class="govuk-table__cell">19 February 2020</td>
						<td class="govuk-table__cell">21 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Sebastian Burrows</a></td>
						<td class="govuk-table__cell">19 February 2020</td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Paul Kim</a></td>
						<td class="govuk-table__cell">20 February 2020</td>
						<td class="govuk-table__cell">28 February 2020</td>
					</tr>
				</tbody>
			</table> 
			<!-- <button class="govuk-button" data-module="govuk-button">Send email to complete application</button> -->
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}