{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View and process applications - JAC00105-abc0006{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="review" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Website listing</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Contacts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Downloads</a>
					</li>		  
				</ul>

				<h4 class="moj-side-navigation__title">Applications</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#" aria-current="location">Drafts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Applied</a>
					</li>
				</ul>
			
				<h4 class="moj-side-navigation__title">Stages</h4> 
				<ul class="moj-side-navigation__list">
					{% if data['update-status-abc0001'] == "Passed scenario test" and data['update-status-abc0006'] == "Passed scenario test" and data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="review">Review (94)</a>
					</li>
					{% elseif data['update-status-abc0001'] == "Passed scenario test" and data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="review">Review (95)</a>
					</li>
					{% elseif data['update-status-abc0006'] == "Passed scenario test" and data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="review">Review (95)</a>
					</li>
					{% elseif data['update-status-abc0001'] == "Passed scenario test" and data['update-status-abc0006'] == "Passed scenario test" and data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="review">Review (94)</a>
					</li>
					{% elseif data['update-status-abc0001'] == "Passed scenario test" and data['update-status-abc0006'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="review">Review (98)</a>
					</li>
					{% elseif data['update-status-abc0001'] == "Passed scenario test" or data['update-status-abc0006'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="review">Review (99)</a>
					</li>
					{% elseif data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="review">Review (96)</a>
					</li>
					{% else %}
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="review">Review (100)</a>
					</li>
					{% endif %}

					{% if data['update-status-abc0001'] == "Passed scenario test" and data['update-status-abc0006'] == "Passed scenario test" and data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (6)</a>
					</li>
					{% elseif data['update-status-abc0001'] == "Passed scenario test" and data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (5)</a>
					</li>
					{% elseif data['update-status-abc0006'] == "Passed scenario test" and data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (5)</a>
					</li>
					{% elseif data['update-status-abc0001'] == "Passed scenario test" and data['update-status-abc0006'] == "Passed scenario test" and data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (7)</a>
					</li>
					{% elseif data['update-status-abc0001'] == "Passed scenario test" and data['update-status-abc0006'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (2)</a>
					</li>
					{% elseif data['update-status-abc0001'] == "Passed scenario test" or data['update-status-abc0006'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (1)</a>
					</li>
					{% elseif data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (4)</a>
					</li>
					{% else %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (0)</a>
					</li>
					{% endif %}
					<li class="moj-side-navigation__item">
						<a href="selected">Selected (0)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="recommended">Recommended (0)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="handover">Handover (0)</a>
					</li> 
				</ul>

				<h4 class="moj-side-navigation__title">Reports</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#" aria-current="location">Diversity</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#" aria-current="location">Issues</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<span class="govuk-caption-l">Alex Potter</span>
			<h2 class="govuk-heading-l">JAC00105-abc0006</h2>
			<p class="govuk-body"><a href="#">View submitted application</a></p>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
				  	<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						{% if data['update-status-abc0006'] %}
						<h3 class="govuk-fieldset__heading">Update status (TBC)</h3>
						{% else %}
						<h3 class="govuk-fieldset__heading">Add status (TBC)</h3>
						{% endif %}
					</legend>
					<div class="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-abc0006" name="update-status-abc0006" type="radio" value="Passed sift" {{ checked("update-status-abc0006", "Passed sift") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-abc0006">Passed sift</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-abc0006-2" name="update-status-abc0006" type="radio" value="Failed sift" {{ checked("update-status-abc0006", "Failed sift") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-abc0006-2">Failed sift</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-abc0006-3" name="update-status-abc0006" type="radio" value="Submitted first test(s)" {{ checked("update-status-abc0006", "Submitted first test(s)") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-abc0006-3">Submitted first test(s)</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-abc0006-4" name="update-status-abc0006" type="radio" value="Submitted scenario test" {{ checked("update-status-abc0006", "Submitted scenario test") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-abc0006-4">Submitted scenario test</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-abc0006-5" name="update-status-abc0006" type="radio" value="Passed first test(s)" {{ checked("update-status-abc0006", "Passed first test(s)") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-abc0006-5">Passed first test(s)</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-abc0006-6" name="update-status-abc0006" type="radio" value="Passed scenario test" {{ checked("update-status-abc0006", "Passed scenario test") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-abc0006-6">Passed scenario test</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-abc0006-7" name="update-status-abc0006" type="radio" value="No test submitted" {{ checked("update-status-abc0006", "No test submitted") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-abc0006-7">No test submitted</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-abc0006-8" name="update-status-abc0006" type="radio" value="Test submitted over time" {{ checked("update-status-abc0006", "Test submitted over time") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-abc0006-8">Test submitted over time</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="update-status-abc0006-9" name="update-status-abc0006" type="radio" value="Withdrew application" {{ checked("update-status-abc0006", "Withdrew application") }}>
							<label class="govuk-label govuk-radios__label" for="update-status-abc0006-9">Withdrew application</label>
						</div>
				  	</div>
				</fieldset>
			</div>
			<button class="govuk-button" data-module="govuk-button">Save and return</button> 
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}