{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View and process applications - You have added 4 candidates{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Website listing</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Contacts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Downloads</a>
					</li>		  
				</ul>

				<h4 class="moj-side-navigation__title">Applications</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#" aria-current="location">Drafts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Applied</a>
					</li>
				</ul>
			
				<h4 class="moj-side-navigation__title">Stages</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">Review (96)</a>
					</li>
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="#">Shortlisted (4)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Selected (0)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Recommended (0)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Handover (0)</a>
					</li> 
				</ul>

				<h4 class="moj-side-navigation__title">Reports</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#" aria-current="location">Diversity</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#" aria-current="location">Issues</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<h2 class="govuk-heading-l">You have added 4 candidates</h2>
			<dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key font-normal"><a class="govuk-link" href="#">JAC00105-abc0002</a></dt>
					<dd class="govuk-summary-list__value">Spencer Singh</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="#">
						  Remove<span class="govuk-visually-hidden"> applicant</span>
						</a>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key font-normal"><a class="govuk-link" href="#">JAC00105-abc0003</a></dt>
					<dd class="govuk-summary-list__value">Luke Walker</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="#">
						  Remove<span class="govuk-visually-hidden"> applicant</span>
						</a>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key font-normal"><a class="govuk-link" href="#">JAC00105-abc0004</a></dt>
					<dd class="govuk-summary-list__value">Nathan Powell</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="#">
						  Remove<span class="govuk-visually-hidden"> applicant</span>
						</a>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key font-normal"><a class="govuk-link" href="#">JAC00105-abc0005</a></dt>
					<dd class="govuk-summary-list__value">Harry Farmer</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="#">
						  Remove<span class="govuk-visually-hidden"> applicant</span>
						</a>
					</dd>
				</div>	
			</dl>
			<div class="govuk-form-group govuk-!-padding-top-4">
				<fieldset class="govuk-fieldset">
				  	<legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-2">
						<h3 class="govuk-fieldset__heading">Move back to the review stage? (TBC)</h3>
					</legend>
					<span id="changed-name-hint" class="govuk-hint">The status for these candidates will also revert. (TBC)</span>
					<div class="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="move-back" name="move-back" type="radio" value="Yes" {{ checked("move-back", "Yes") }}>
							<label class="govuk-label govuk-radios__label" for="move-back">Yes</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="move-back-2" name="move-back" type="radio" value="No" {{ checked("move-back", "No") }}>
							<label class="govuk-label govuk-radios__label" for="move-back-2">No</label>
						</div>
				  	</div>
				</fieldset>
			</div>
			<button class="govuk-button" data-module="govuk-button">Save and return</button> 
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}