{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View candidate history - Applied{% endblock %}

{% block content %}
<div class="header-background clearfix">
	<div class="header-title govuk-!-margin-bottom-2">
		<a href="/" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-24 govuk-!-font-weight-bold">Internal service name</a>
		<nav class="float-right">
			<ul id="navigation" class="govuk-header__navigation user-menu">
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">Exercises</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="index">Candidates</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">My account</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">Sign out</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
		<span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.</span>
	</p>
</div>
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Website listing</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Contacts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Downloads</a>
					</li>		  
				</ul>
			
				<h4 class="moj-side-navigation__title">Applications</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#" aria-current="location">Drafts</a>
					</li>
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="applied">Applied</a>
					</li>
				</ul>

				<h4 class="moj-side-navigation__title">Stages</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">Review (100)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisted (0)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Selected (0)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Recommended (0)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Handover (0)</a>
					</li>
				</ul>

				<h4 class="moj-side-navigation__title">Reports</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#" aria-current="location">Diversity</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#" aria-current="location">Issues</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<h2 class="govuk-heading-l">Applied</h2>
			<h3 class="govuk-heading-m">100 applications</h3>
			<table class="govuk-table jac-table govuk-!-margin-bottom-4">
				<caption class="govuk-table__caption hidden">Submitted applications</caption>
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Reference number</th>
						<th scope="col" class="govuk-table__header">Name</th>
						<th scope="col" class="govuk-table__header">Submitted on</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<!-- 1 to 10 -->
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0001</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="max-talbot">Max Talbot</a></td>
						<td class="govuk-table__cell" data-sort-value="18022020">18 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0002</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Spencer Singh</a></td>
						<td class="govuk-table__cell" data-sort-value="18022020">18 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0003</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Luke Walker</a></td>
						<td class="govuk-table__cell" data-sort-value="18022020">18 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0004</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Nathan Powell</a></td>
						<td class="govuk-table__cell" data-sort-value="18022020">18 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0005</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Harry Farmer</a></td>
						<td class="govuk-table__cell" data-sort-value="19022020">19 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0006</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Alex Potter</a></td>
						<td class="govuk-table__cell" data-sort-value="19022020">19 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0007</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Connor Wood</a></td>
						<td class="govuk-table__cell" data-sort-value="20022020">20 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0008</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Connor Gibbs</a></td>
						<td class="govuk-table__cell" data-sort-value="21022020">21 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0009</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Josh Davison</a></td>
						<td class="govuk-table__cell" data-sort-value="21022020">21 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0010</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Kai Blackburn</a></td>
						<td class="govuk-table__cell" data-sort-value="21022020">21 February 2020</td>
					</tr>
					<!-- 11 to 20 -->
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0011</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Imogen Newman</a></td>
						<td class="govuk-table__cell" data-sort-value="22022020">22 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0012</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Leon Hewitt</a></td>
						<td class="govuk-table__cell" data-sort-value="23022020">23 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0013</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Isobel Kemp</a></td>
						<td class="govuk-table__cell" data-sort-value="23022020">23 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0014</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Zachary Taylor</a></td>
						<td class="govuk-table__cell" data-sort-value="23022020">23 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0015</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Matilda Dean</a></td>
						<td class="govuk-table__cell" data-sort-value="24022020">24 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0016</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Max Lucas</a></td>
						<td class="govuk-table__cell" data-sort-value="24022020">24 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0017</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Eve Kent</a></td>
						<td class="govuk-table__cell" data-sort-value="24022020">24 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0018</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Alicia Howell</a></td>
						<td class="govuk-table__cell" data-sort-value="24022020">24 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0019</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Morgan Randall</a></td>
						<td class="govuk-table__cell" data-sort-value="25022020">25 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0020</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Sophia Lane</a></td>
						<td class="govuk-table__cell" data-sort-value="26022020">26 February 2020</td>
					</tr>
					<!-- 21 to 30 -->
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0021</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Matthew Greenwood</a></td>
						<td class="govuk-table__cell" data-sort-value="26022020">26 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0022</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Gabriel Pearce</a></td>
						<td class="govuk-table__cell" data-sort-value="26022020">26 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0023</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Sophie Bevan</a></td>
						<td class="govuk-table__cell" data-sort-value="26022020">26 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0024</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Declan Clayton</a></td>
						<td class="govuk-table__cell" data-sort-value="26022020">26 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0025</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Joel Hussain</a></td>
						<td class="govuk-table__cell" data-sort-value="26022020">26 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0026</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Lara Whitehead</a></td>
						<td class="govuk-table__cell" data-sort-value="27022020">27 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0027</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Maisie Brooks</a></td>
						<td class="govuk-table__cell" data-sort-value="27022020">27 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0028</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Luca Knight</a></td>
						<td class="govuk-table__cell" data-sort-value="27022020">27 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0029</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Robert Finch</a></td>
						<td class="govuk-table__cell" data-sort-value="27022020">27 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0030</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Gabriel Carroll</a></td>
						<td class="govuk-table__cell" data-sort-value="27022020">27 February 2020</td>
					</tr>
					<!-- 31 to 40 -->
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0031</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Christopher Collier</a></td>
						<td class="govuk-table__cell" data-sort-value="28022020">28 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0032</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Muhammad Skinner</a></td>
						<td class="govuk-table__cell" data-sort-value="28022020">28 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0033</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Summer Godfrey</a></td>
						<td class="govuk-table__cell" data-sort-value="28022020">28 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0034</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Jake Bates</a></td>
						<td class="govuk-table__cell" data-sort-value="28022020">28 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0035</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Oliver Mahmood</a></td>
						<td class="govuk-table__cell" data-sort-value="28022020">28 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0036</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Thomas Dunn</a></td>
						<td class="govuk-table__cell" data-sort-value="28022020">28 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0037</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Sam Fitzgerald</a></td>
						<td class="govuk-table__cell" data-sort-value="28022020">28 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0038</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Elliot Field</a></td>
						<td class="govuk-table__cell" data-sort-value="28022020">28 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0039</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Brandon Kelly</a></td>
						<td class="govuk-table__cell" data-sort-value="29022020">29 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0040</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Caitlin Myers</a></td>
						<td class="govuk-table__cell" data-sort-value="29022020">29 February 2020</td>
					</tr>
					<!-- 41 to 50 -->
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0041</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Georgina O'Connor</a></td>
						<td class="govuk-table__cell" data-sort-value="29022020">29 February 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0042</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Leon Young</a></td>
						<td class="govuk-table__cell" data-sort-value="101032020">1 March 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0043</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Joshua Hancock</a></td>
						<td class="govuk-table__cell" data-sort-value="101032020">1 March 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0044</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Muhammad Chapman</a></td>
						<td class="govuk-table__cell" data-sort-value="101032020">1 March 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0045</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Hayden Chandler</a></td>
						<td class="govuk-table__cell" data-sort-value="101032020">1 March 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0046</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Ryan Stone</a></td>
						<td class="govuk-table__cell" data-sort-value="101032020">1 March 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0047</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Henry Fry</a></td>
						<td class="govuk-table__cell" data-sort-value="101032020">1 March 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0048</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Alex Duncan</a></td>
						<td class="govuk-table__cell" data-sort-value="101032020">1 March 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0049</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Leo Day</a></td>
						<td class="govuk-table__cell" data-sort-value="101032020">1 March 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0050</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Niamh Baxter</a></td>
						<td class="govuk-table__cell" data-sort-value="101032020">1 March 2020</td>
					</tr>
				</tbody>
			</table> 
			<nav class="moj-pagination" id="pagination-label">
				<p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
				<ul class="moj-pagination__list">
					<li class="moj-pagination__item  moj-pagination__item--next">
				  		<a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
					</li>
				</ul>
				<p class="moj-pagination__results">Showing <b>1</b> to <b>50</b> of <b>100</b> results</p>
			</nav> 
			<!-- <button class="govuk-button" data-module="govuk-button">TBC</button> -->
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}