{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View candidate history - Max Talbot{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<!-- <div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">TBC</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">TBC</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">TBC</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">TBC</a>
					</li>	  
				</ul>
			</nav>
		</div> -->
		<div class="govuk-grid-column-three-quarters govuk-!-margin-top-8">
			<h2 class="govuk-heading-xl">Max Talbot</h2>
			<p class="govuk-body" style="margin-bottom: 300px">TBC</p>
			<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<button class="govuk-button" data-module="govuk-button">Save and continue</button> -->
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}