{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View candidate profile and history - Applications history{% endblock %}

{% block content %}
<div class="header-background clearfix">
	<div class="header-title govuk-!-margin-bottom-2">
		<a href="/" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-24 govuk-!-font-weight-bold">Internal service name</a>
		<nav class="float-right">
			<ul id="navigation" class="govuk-header__navigation user-menu">
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">Exercises</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="index">Candidates</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">My account</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">Sign out</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
		<span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.</span>
	</p>
</div>
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="add-note" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full govuk-!-margin-top-8">
			<span class="govuk-caption-xl">Max Talbot</span>
			<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Applications history</h1>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
				<div class="govuk-tabs" data-module="govuk-tabs">
					<h2 class="govuk-tabs__title hidden">Contents</h2>
					<ul class="govuk-tabs__list">
						<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
							<a class="govuk-tabs__tab" href="#open">Open</a>
						</li>
						<li class="govuk-tabs__list-item">
							<a class="govuk-tabs__tab" href="#closed">Closed</a>
						</li>
					</ul>
					<div class="govuk-tabs__panel" id="open">
						<h2 class="govuk-heading-m">Open</h2>
						<table class="govuk-table">
							<thead class="govuk-table__head">
								<tr class="govuk-table__row">
									<th scope="col" class="govuk-table__header">Exercise</th>
									<th scope="col" class="govuk-table__header" style="width: 10%">Outcome</th>
									<th scope="col" class="govuk-table__header" style="width: 15%">Action</th>
								</tr>
							</thead> 
							<tbody class="govuk-table__body">
								<tr class="govuk-table__row">
									<td class="govuk-table__cell">JAC00105 Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</td>
									<td class="govuk-table__cell">Applied</td> 
									<td class="govuk-table__cell"><a href="applied-jac00105-abc0001">View application</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closed">
						<h2 class="govuk-heading-m">Closed</h2>
						<table class="govuk-table">
							<thead class="govuk-table__head">
								<tr class="govuk-table__row">
									<th scope="col" class="govuk-table__header">Exercise</th>
									<th scope="col" class="govuk-table__header" style="width: 10%">Outcome</th>
									<th scope="col" class="govuk-table__header" style="width: 15%">Action</th>
								</tr>
							</thead> 
							<tbody class="govuk-table__body">
								<tr class="govuk-table__row">
									<td class="govuk-table__cell">JAC00184 Senior Circuit Judge of the Employment Appeal Tribunal</td>
									<td class="govuk-table__cell">Appointed</td>
									<td class="govuk-table__cell"><a href="#">View application</a></td>
								</tr>
								<tr class="govuk-table__row">
									<td class="govuk-table__cell">JAC00148 Fee-paid Medical Members, First-tier Tribunal, Social Entitlement Chamber (Social Security and Child Support)</td>
									<td class="govuk-table__cell">Withdrew</td>
									<td class="govuk-table__cell"><a href="#">View application</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}