{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View candidate profile and history - Max Talbot{% endblock %}

{% block content %}
<div class="header-background clearfix">
	<div class="header-title govuk-!-margin-bottom-2">
		<a href="/" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-24 govuk-!-font-weight-bold">Internal service name</a>
		<nav class="float-right">
			<ul id="navigation" class="govuk-header__navigation user-menu">
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">Exercises</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="index">Candidates</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">My account</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">Sign out</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
		<span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.</span>
	</p>
</div>
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full govuk-!-margin-top-8">
			<!-- <span class="govuk-caption-xl">Candidates</span> -->
			<h2 class="govuk-heading-xl">Max Talbot</h2>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds_ govuk-grid-column-one-half">
					<h2 class="govuk-heading-l">Career</h2>
					<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
						<li>Registered with the GMC - January 2007</li>
						<li>Fee-Paid member of the Social Entitlement Chamber -December 2016</li>
					</ul>
					<p class="govuk-body govuk-!-margin-top-2"><a href="#">View more</a></p>

					<h2 class="govuk-heading-l">Diversity information</h2>
					<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
						<li>White</li>
						<li>Gender neutral</li>
						<li>No disability</li>
						<li>Barrister</li>
						<li>Fee-Paid Tribunal Judge</li>
					</ul>
					<p class="govuk-body govuk-!-margin-top-2"><a href="#">View more</a></p>

					<h2 class="govuk-heading-l">Character declarations</h2>
					<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
						<li>2018 Late tax return penalty</li>
						<li>2017 Declared bankrupt</li>
						<li>2017 Fixed penality SP50</li>
						<li>2015 Fixed penalty SP30</li>
					</ul>
					<p class="govuk-body govuk-!-margin-top-2"><a href="#">View more</a></p>

					<h2 class="govuk-heading-l">Eligibility flags</h2>
					<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
						<li>Restrictions on Practice - October 2018</li>
					</ul>
					<p class="govuk-body govuk-!-margin-top-2"><a href="#">View more</a></p>
				</div>
				<div class="govuk-grid-column-one-third_ govuk-grid-column-one-half">
					<h3 class="govuk-heading-m">Contact details</h3>
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Email</dt>
						  	<dd class="govuk-summary-list__value"><a href="#">max.talbot@example.com</a></dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Phone</dt>
						  	<dd class="govuk-summary-list__value">07771 900 900</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key no-border">Assessors</dt>
							<dd class="govuk-summary-list__value">
								<p class="govuk-body">Steven Jacobs</p>
								<p class="govuk-body"><a class="govuk-link" href="#">steven.jacobs@example.com</a></p>
								<p class="govuk-body">020 7450 4000</p>
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">&nbsp;</dt>
							<dd class="govuk-summary-list__value">
								<p class="govuk-body">Faye Dwell</p>
								<p class="govuk-body"><a class="govuk-link" href="#">faye.dwell@example.com</a></p>
								<p class="govuk-body">01273 800 900</p>
							</dd>
						</div>
					</dl>
					<h3 class="govuk-heading-m govuk-!-margin-top-8">Past application outcomes</h3>
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key font-normal" style="width: 80%"><a href="#">136 Fee-Paid Medical Member SEC</a></dt>
						  	<dd class="govuk-summary-list__value font-weight-bold">Appointed</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key font-normal" style="width: 80%"><a href="#">178 Fee-Paid Medical Member SEC</a></dt>
						  	<dd class="govuk-summary-list__value font-weight-bold">Withdrew</dd>
						</div>
					</dl>
				  	<!-- <p class="govuk-body">This is a paragraph inside a one-third wide column</p> -->
				</div>
			</div>
			

			<!--<p class="govuk-body" style="margin-bottom: 300px">TBC</p>
			 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<button class="govuk-button" data-module="govuk-button">Save and continue</button> -->

		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}