{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View and process applicationss - Applied (100){% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="bulk-status" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Website listing</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Contacts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Downloads</a>
					</li>		  
				</ul>
			
				<h4 class="moj-side-navigation__title">Applications</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="index" aria-current="location">Drafts (15)</a>
					</li>
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="applied">Applied (100)</a>
					</li>
					{% if data['update-status'] == "Passed scenario test" and data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisted (5)</a>
					</li>
					{% elseif data['update-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisted (1)</a>
					</li>
					{% elseif data['bulk-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisted (4)</a>
					</li>
					{% else %}
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisted (0)</a>
					</li>
					{% endif %}
					<li class="moj-side-navigation__item">
						<a href="#">Selected (0)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Recommended (0)</a>
					</li> 
				</ul>
			</nav>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<h2 class="govuk-heading-l">Applied (100)</h2>
			<!-- <h3 class="govuk-heading-m">100 applications have been submitted</h3> -->
		</div>
		<div class="govuk-grid-column-three-quarters">

			<!-- <div class="moj-action-bar">
				<div class="moj-button-menu">
					<div class="moj-button-menu__wrapper clearfix">
						<div class="govuk-form-group float-left govuk-!-margin-right-4">
							<label class="govuk-label govuk-!-font-weight-bold" for="change-status">Bulk action</label>
							<select class="govuk-select" id="change-status" name="change-status">
								<option value="" selected>Select from</option>
								<option value="failed-selection">Failed selection day</option>
								<option value="failed-shortlisting">Failed shortlisting</option>
								<option value="passed-selection">Passed selection day</option>
								<option value="passed-shortlisting">Passed scenario test</option>
								<option value="proceed-next-stage">Proceed to next stage</option>
								<option value="recommended-appointment">Recommended for appointment - s87</option>
								<option value="recommended-future-appointment">Recommended for future appointment - s94</option>
								<option value="record-judicial-office">Record to Judicial Office</option>
								<option value="rejected-character">Rejected on character</option>
								<option value="rejected-ineligible">Rejected as ineligible</option>
								<option value="withdrawn">Withdrawn</option>
							</select>
						</div>
						<button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary float-left govuk-!-margin-top-6" data-module="govuk-button">Add</button>
					</div>
				</div>
			</div> -->

			<table class="govuk-table jac-check-table govuk-!-margin-bottom-4">
				<caption class="govuk-table__caption hidden">Submitted applications</caption>
				<thead class="govuk-table__head">
					<!-- <tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header" aria-sort="ascending">Reference number</th> 
						<th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
						<th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
					</tr> -->
					<tr class="govuk-table__row">
						<th class="govuk-table__header moj-multi-select__select-all-container" scope="col" style="padding-right: 0; width: 40px"></th>
						<th scope="col" class="govuk-table__header">Reference number</th>
						<th scope="col" class="govuk-table__header">Name</th>
						<th scope="col" class="govuk-table__header">Status</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<!-- 1 to 10 -->
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0001" value="jac00105-abc0001">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0001">
									<span class="govuk-visually-hidden">Select JAC00105-abc0001</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="applied-jac00105-abc0001">JAC00105-abc0001</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="max-talbot">Max Talbot</a></td>
						<td class="govuk-table__cell">{{ data['update-status'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0002" value="jac00105-abc0002">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0002">
									<span class="govuk-visually-hidden">Select JAC00105-abc0002</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0002</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Spencer Singh</a></td>
						<td class="govuk-table__cell">{{ data['bulk-status'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0003" value="jac00105-abc0003">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0003">
									<span class="govuk-visually-hidden">Select JAC00105-abc0003</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0003</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Luke Walker</a></td>
						<td class="govuk-table__cell">{{ data['bulk-status'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0004" value="jac00105-abc0004">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0004">
									<span class="govuk-visually-hidden">Select JAC00105-abc0004</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0004</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Nathan Powell</a></td>
						<td class="govuk-table__cell">{{ data['bulk-status'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0005" value="jac00105-abc0005">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0005">
									<span class="govuk-visually-hidden">Select JAC00105-abc0005</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0005</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Harry Farmer</a></td>
						<td class="govuk-table__cell">{{ data['bulk-status'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0006" value="jac00105-abc0006">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0006">
									<span class="govuk-visually-hidden">Select JAC00105-abc0006</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0006</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Alex Potter</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0007" value="jac00105-abc0007">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0007">
									<span class="govuk-visually-hidden">Select JAC00105-abc0007</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0007</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Connor Wood</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0008" value="jac00105-abc0008">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0008">
									<span class="govuk-visually-hidden">Select JAC00105-abc0008</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0008</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Connor Gibbs</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0009" value="jac00105-abc0009">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0009">
									<span class="govuk-visually-hidden">Select JAC00105-abc0009</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0009</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Josh Davison</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0010" value="jac00105-abc0010">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0010">
									<span class="govuk-visually-hidden">Select JAC00105-abc0010</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0010</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Kai Blackburn</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<!-- 11 to 20 -->
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0011" value="jac00105-abc0011">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0011">
									<span class="govuk-visually-hidden">Select JAC00105-abc0011</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0011</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Imogen Newman</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0012" value="jac00105-abc0012">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0012">
									<span class="govuk-visually-hidden">Select JAC00105-abc0012</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0012</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Leon Hewitt</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0013" value="jac00105-abc0013">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0013">
									<span class="govuk-visually-hidden">Select JAC00105-abc0013</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0013</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Isobel Kemp</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0014" value="jac00105-abc0014">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0014">
									<span class="govuk-visually-hidden">Select JAC00105-abc0014</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0014</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Zachary Taylor</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0015" value="jac00105-abc0015">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0015">
									<span class="govuk-visually-hidden">Select JAC00105-abc0015</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0015</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Matilda Dean</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0016" value="jac00105-abc0016">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0016">
									<span class="govuk-visually-hidden">Select JAC00105-abc0016</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0016</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Max Lucas</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0017" value="jac00105-abc0017">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0017">
									<span class="govuk-visually-hidden">Select JAC00105-abc0017</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0017</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Eve Kent</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0018" value="jac00105-abc0018">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0018">
									<span class="govuk-visually-hidden">Select JAC00105-abc0018</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0018</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Alicia Howell</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0019" value="jac00105-abc0019">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0019">
									<span class="govuk-visually-hidden">Select JAC00105-abc0019</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0019</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Morgan Randall</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0020" value="jac00105-abc0020">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0020">
									<span class="govuk-visually-hidden">Select JAC00105-abc0020</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0020</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Sophia Lane</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<!-- 21 to 30 -->
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0021" value="jac00105-abc0021">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0021">
									<span class="govuk-visually-hidden">Select JAC00105-abc0021</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0021</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Matthew Greenwood</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0022" value="jac00105-abc0022">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0022">
									<span class="govuk-visually-hidden">Select JAC00105-abc0022</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0022</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Gabriel Pearce</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0023" value="jac00105-abc0023">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0023">
									<span class="govuk-visually-hidden">Select JAC00105-abc0023</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0023</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Sophie Bevan</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0024" value="jac00105-abc0024">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0024">
									<span class="govuk-visually-hidden">Select JAC00105-abc0024</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0024</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Declan Clayton</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0025" value="jac00105-abc0025">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0025">
									<span class="govuk-visually-hidden">Select JAC00105-abc0025</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0025</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Joel Hussain</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0026" value="jac00105-abc0026">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0026">
									<span class="govuk-visually-hidden">Select JAC00105-abc0026</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0026</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Lara Whitehead</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0027" value="jac00105-abc0027">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0027">
									<span class="govuk-visually-hidden">Select JAC00105-abc0027</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0027</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Maisie Brooks</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0028" value="jac00105-abc0028">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0028">
									<span class="govuk-visually-hidden">Select JAC00105-abc0028</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0028</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Luca Knight</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0029" value="jac00105-abc0029">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0029">
									<span class="govuk-visually-hidden">Select JAC00105-abc0029</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0029</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Robert Finch</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0030" value="jac00105-abc0030">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0030">
									<span class="govuk-visually-hidden">Select JAC00105-abc0030</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0030</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Gabriel Carroll</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<!-- 31 to 40 -->
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0031" value="jac00105-abc0031">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0031">
									<span class="govuk-visually-hidden">Select JAC00105-abc0031</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0031</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Christopher Collier</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0032" value="jac00105-abc0032">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0032">
									<span class="govuk-visually-hidden">Select JAC00105-abc0032</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0032</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Muhammad Skinner</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0033" value="jac00105-abc0033">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0033">
									<span class="govuk-visually-hidden">Select JAC00105-abc0033</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0033</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Summer Godfrey</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0034" value="jac00105-abc0034">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0034">
									<span class="govuk-visually-hidden">Select JAC00105-abc0034</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0034</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Jake Bates</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0035" value="jac00105-abc0035">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0035">
									<span class="govuk-visually-hidden">Select JAC00105-abc0035</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0035</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Oliver Mahmood</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0036" value="jac00105-abc0036">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0036">
									<span class="govuk-visually-hidden">Select JAC00105-abc0036</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0036</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Thomas Dunn</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0037" value="jac00105-abc0037">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0037">
									<span class="govuk-visually-hidden">Select JAC00105-abc0037</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0037</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Sam Fitzgerald</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0038" value="jac00105-abc0038">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0038">
									<span class="govuk-visually-hidden">Select JAC00105-abc0038</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0038</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Elliot Field</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0039" value="jac00105-abc0039">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0039">
									<span class="govuk-visually-hidden">Select JAC00105-abc0039</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0039</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Brandon Kelly</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0040" value="jac00105-abc0040">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0040">
									<span class="govuk-visually-hidden">Select JAC00105-abc0040</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0040</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Caitlin Myers</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<!-- 41 to 50 -->
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0041" value="jac00105-abc0041">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0041">
									<span class="govuk-visually-hidden">Select JAC00105-abc0041</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0041</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Georgina O'Connor</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0042" value="jac00105-abc0042">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0042">
									<span class="govuk-visually-hidden">Select JAC00105-abc0042</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0042</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Leon Young</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0043" value="jac00105-abc0043">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0043">
									<span class="govuk-visually-hidden">Select JAC00105-abc0043</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0043</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Joshua Hancock</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0044" value="jac00105-abc0044">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0044">
									<span class="govuk-visually-hidden">Select JAC00105-abc0044</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0044</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Muhammad Chapman</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0045" value="jac00105-abc0045">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0045">
									<span class="govuk-visually-hidden">Select JAC00105-abc0045</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0045</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Hayden Chandler</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0046" value="jac00105-abc0046">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0046">
									<span class="govuk-visually-hidden">Select JAC00105-abc0046</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0046</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Ryan Stone</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0047" value="jac00105-abc0047">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0047">
									<span class="govuk-visually-hidden">Select JAC00105-abc0047</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0047</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Henry Fry</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0048" value="jac00105-abc0048">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0048">
									<span class="govuk-visually-hidden">Select JAC00105-abc0048</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0048</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Alex Duncan</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0049" value="jac00105-abc0049">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0049">
									<span class="govuk-visually-hidden">Select JAC00105-abc0049</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0049</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Leo Day</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0050" value="jac00105-abc0050">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0050">
									<span class="govuk-visually-hidden">Select JAC00105-abc0050</span>
								</label>
							</div>
						</td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">JAC00105-abc0050</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Niamh Baxter</a></td>
						<td class="govuk-table__cell">&nbsp;</td>
					</tr>
				</tbody>
			</table> 
			<nav class="moj-pagination" id="pagination-label">
				<p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
				<ul class="moj-pagination__list">
					<!-- <li class="moj-pagination__item  moj-pagination__item--prev">
				  		<a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
					</li> -->
					<!-- <li class="moj-pagination__item">
						<a class="moj-pagination__link" href="/page=1">1</a>
					</li> -->
					<!-- <li class="moj-pagination__item moj-pagination__item--active">2</li> -->
					<!-- <li class="moj-pagination__item">
						<a class="moj-pagination__link" href="/page=3">3</a>
					</li> -->
					<li class="moj-pagination__item  moj-pagination__item--next">
				  		<a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
					</li>
				</ul>
				<p class="moj-pagination__results">Showing <b>1</b> to <b>50</b> of <b>100</b> results</p>
			</nav> 
			<button class="govuk-button govuk-!-margin-top-8" data-module="govuk-button">Bulk action (TBC)</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}