{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View and process applications - Selected (30){% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="#">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Website listing</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Contacts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="#">Downloads</a>
					</li>		  
				</ul>
			
				<h4 class="moj-side-navigation__title">Applications</h4> 
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="index" aria-current="location">Drafts (15)</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="applied">Applied (100)</a>
					</li>
					{% if data['update-status'] == "Passed scenario test" %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (1)</a>
					</li>
					{% else %}
					<li class="moj-side-navigation__item">
						<a href="shortlisted">Shortlisted (0)</a>
					</li>
					{% endif %}
					{% if data['update-status-shortlisted'] == "Invited to selection day" %}
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="selected">Selected (1)</a>
					</li>
					{% else %}
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="selected">Selected (0)</a>
					</li>
					{% endif %}
					{% if data['update-status-selected'] == "Passed selection" %}
					<li class="moj-side-navigation__item">
						<a href="recommended">Recommended (1)</a>
					</li>
					{% else %}
					<li class="moj-side-navigation__item">
						<a href="recommended">Recommended (0)</a>
					</li>
					{% endif %} 
				</ul>
			</nav>
		</div>
		{% if data['update-status-shortlisted'] == "Invited to selection day" %}
		<div class="govuk-grid-column-three-quarters">
			<h2 class="govuk-heading-l">Selected (1)</h2>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<table class="govuk-table jac-table govuk-!-margin-bottom-4">
				<caption class="govuk-table__caption hidden">Shortlisted applications</caption>
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<!-- <th class="govuk-table__header moj-multi-select__select-all-container" scope="col" style="padding-right: 0; width: 40px"></th> -->
						<th scope="col" class="govuk-table__header">Reference number</th>
						<th scope="col" class="govuk-table__header">Name</th>
						{% if data['update-status-selected'] %}
						<th scope="col" class="govuk-table__header">Status</th>
						{% endif %}
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<!-- <td class="govuk-table__cell">
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
								<input type="checkbox" class="govuk-checkboxes__input" id="application-jac00105-abc0001" value="jac00105-abc0001">
								<label class="govuk-label govuk-checkboxes__label" for="application-jac00105-abc0001">
									<span class="govuk-visually-hidden">Select JAC00105-abc0001</span>
								</label>
							</div>
						</td> -->
						<td class="govuk-table__cell"><a class="govuk-link" href="selected-jac00105-abc0001">JAC00105-abc0001</a></td>
						<td class="govuk-table__cell"><a class="govuk-link" href="#">Max Talbot</a></td>
						{% if data['update-status-selected'] %}
						<td class="govuk-table__cell">{{ data['update-status-selected'] }}</td>
						{% endif %}
					</tr>
				</tbody>
			</table> 
			<!-- <button disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled govuk-!-margin-top-8" data-module="govuk-button">Bulk action (TBC)</button> -->
		</div>
		{% else %}
		<div class="govuk-grid-column-three-quarters">
			<h2 class="govuk-heading-l">Selected (0)</h2>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<p class="govuk-body">No applications have been added to this section (TBC).</p>
		</div>
		{% endif %}
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}