{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View and process applications - User feedback session (consolidated){% endblock %}

{% set containerClasses = "index-page" %}

{% block content %}
<div class="header-background">
	<span class="govuk-caption-m govuk-!-margin-bottom-1 govuk-!-padding-top-2">Admin prototypes</span>
	<h1 class="govuk-heading-l govuk-!-margin-bottom-2"><a href="/" class="govuk-link govuk-link--no-visited-state">Judicial Appointments Commission</a></h1>
</div>
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
		<span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.</span>
	</p>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<!-- <span class="govuk-caption-l govuk-!-margin-top-7">Version 1</span> -->
		<h1 class="govuk-heading-l govuk-!-margin-top-7">User feedback session (consolidated)</h1>
		<h2 class="govuk-heading-m">Exercise is live</h2>
		<ul class="govuk-list govuk-list--bullet">
			<li>All users were happy with the layout of the application page example</li>
			<li>For <code>Full information</code> tab:
				<ul class="govuk-list govuk-list--bullet">
					<li>For <code>Character information</code>, 1 user wasn't sure how this would be displayed, if a candidate had selected 'Yes'</li>
					<li>For <code>Equality and diversity information</code>, 1 user questioned how we would capture information in the ethnicity sections, if candidates selected the ‘Prefer not to say’ option as this is needed by the diversity team</li>
					<li>For <code>Qualifications</code>, 1 user mentioned about adding in another section for new solicitors and barristers</li>
					<li>For <code>Post-qualification experience</code>, 1 user mentioned that this section should be more descriptive e.g. full or part-time, gaps in employment, working 11 days a month</li>
					<li>For <code>Independent assessors</code>, 1 user mentioned the need for a title e.g. if someone is senior they would be addressed as ‘Master John Smith’ and ‘Master in the role of XXXX’
					</li>
				</ul>
			</li>
			<li>For <code>Panel pack</code> tab:
				<ul class="govuk-list govuk-list--bullet">
					<li>For <code>Independent assessors</code>, 1 user mentioned this wasn’t required</li>
					<li>For <code>Curriculum vitae (CV)</code>, 1 user questioned if the candidates CV would need to be edited to strip out any information about them</li>
				</ul>
			</li>
		</ul>
		<h2 class="govuk-heading-m govuk-!-margin-top-6">Exercise has now ended</h2>
		<ul class="govuk-list govuk-list--bullet">
			<li>All users were able to complete the 3 tasks, using the checkboxes and <code>Set status</code> button
				<ul class="govuk-list govuk-list--bullet">
					<li>However 1 user clicked on the link and not the checkboxes when completing the individual task. They thought if it was only one candidate to select, then to use a link and if more than one then to use the checkboxes</li>
					<li>The same user found the bulk feature useful and that you could ‘remove’ and see who you had added</li>
				</ul>
			</li>
			<li>1 user didn't like the word 'Selected' as a stage name and suggested ‘Selection Day’. They also mentioned the following:
				<ul class="govuk-list govuk-list--bullet">
					<li>Candidates who had ‘Passed scenario test’ to move to the next stage (i.e. Shortlisted) but still be present on the ‘Applied’ stage</li>
					<li>More options for statuses in the ‘Applied’ stage, and mentioned that ‘Submitted first test(s)’ was irrelevant as it's automatically marked</li>
				</ul>
			</li>
			<li>1 user commented about moving the <code>Set status</code> button to sit under the Applied heading</li>
			<li>2 users mentioned adding help or guided instructions (on what to do on these pages)</li>
			<li>3 users expected to see candidates move from  one stage to the next one and not to see them in both stages
				<ul class="govuk-list govuk-list--bullet">
					<li>However 1 of them asked what happens if you selected the wrong person? Can you revert back?</li>
					<li>Another user asked if we could download a record of applied, shortlisted etc before they get moved? As they were concerned about any status update errors</li>
				</ul>
			</li>
		</ul>
		<h2 class="govuk-heading-m govuk-!-margin-top-6">Different states</h2>
		<ul class="govuk-list govuk-list--bullet">
			<li>For <code>Applied (984 applications...</code> pages:
				<ul class="govuk-list govuk-list--bullet">
					<li>All users were happy with the intended functionality for those two examples</li>
					<li>1 user would like to sort by first and last name</li>
					<li>1 user asked about doing an advanced search e.g. 'multiple names and status types' at the same time</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block footer %}
<footer class="govuk-footer" role="contentinfo">
	<div class="govuk-width-container index-page">
		<div class="govuk-footer__meta">
			<div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
		  		<h2 class="govuk-visually-hidden">Support links</h2>
		  		<ul class="govuk-footer__inline-list">
					<li class="govuk-footer__inline-list-item">
						<a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype Kit v9.6.0</a>
					</li>
					<li class="govuk-footer__inline-list-item">
						<a href="/prototype-admin/clear-data">Clear data</a>
					</li>
		  		</ul>
		  		<svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
					<path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
		  		</svg>
		  		<span class="govuk-footer__licence-description">All content is available under the <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</span>
			</div>
	  	</div>
	</div>
</footer>
{% endblock %}