{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission{% endblock %}

{% set containerClasses = "index-page" %}

{% block content %}
<div class="header-background">
	<span class="govuk-caption-m govuk-!-margin-bottom-1 govuk-!-padding-top-2">Admin prototypes</span>
	<h1 class="govuk-heading-l govuk-!-margin-bottom-2"><a href="/" class="govuk-link govuk-link--no-visited-state">Judicial Appointments Commission</a></h1>
</div>
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
		<span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.</span>
	</p>
</div>

<!-- Create an exercise -->
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h1 class="govuk-heading-l govuk-!-margin-top-7">Create an exercise</h1>
		<h2 class="govuk-heading-m">Current version in progress</h2>
		<details class="govuk-details" data-module="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">Version 1</span>
			</summary>
			<div class="govuk-details__text">
				<p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-4"><a href="/create-an-exercise/v1/" class="govuk-link">View prototype</a></p>
			</div>
		</details>
	</div>
	<div class="govuk-grid-column-one-half">
		<img src="/public/images/create-an-exercise-index-page.png" class="img-border govuk-!-margin-top-8" />
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
	</div>
</div> 

<!-- View an exercise -->
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h1 class="govuk-heading-l govuk-!-margin-top-7">View an exercise</h1>
		<h2 class="govuk-heading-m">Current version in progress</h2>
		<details class="govuk-details" data-module="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">Version 1</span>
			</summary>
			<div class="govuk-details__text">
				<!-- <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-4"><a href="/view-an-exercise/v1/" class="govuk-link">View prototype (in-flight example)</a></p> -->
				<p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-4"><a href="/view-an-exercise/v1/" class="govuk-link">View prototype</a></p>
				<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Different states</h3>
				<h4 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-font-weight-regular">Overview</h4>
				<ul class="govuk-list">
					<li><a class="govuk-link" href="/view-an-exercise/v1/overview-draft">Draft</a></li>
					<li><a class="govuk-link" href="/view-an-exercise/v1/overview-draft-completed">Draft (completed)</a></li>
					<li><a class="govuk-link" href="/view-an-exercise/v1/overview-pending-approval">Pending approval</a></li>
					<!-- <li><a class="govuk-link" href="/view-an-exercise/v1/overview-ready-approval">Ready for approval</a></li> -->
					<li><a class="govuk-link" href="/view-an-exercise/v1/overview-approved">Approved</a></li>
				</ul>
			</div>
		</details>
	</div>
	<div class="govuk-grid-column-one-half">
		<img src="/public/images/view-an-exercise-index-page.png" class="img-border govuk-!-margin-top-6" />
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
	</div>
</div>

<!-- View and process applications -->
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h1 class="govuk-heading-l govuk-!-margin-top-4">View and process applications</h1>
		<h2 class="govuk-heading-m">Current version in progress</h2>
		<details class="govuk-details" data-module="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">Version 1</span>
			</summary>
			<div class="govuk-details__text">
				<p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-4"><a href="/view-process-applications/v1/" class="govuk-link">View prototype</a></p>
				<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Applications being processed</h3>
				<p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-4"><a href="/view-process-applications/v1/process/" class="govuk-link">View prototype</a></p>
				<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Different states</h3>
				<h4 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-font-weight-regular">Applications</h4>
				<ul class="govuk-list">
					<!-- <li><a class="govuk-link" href="/view-process-applications/v1/process/applied-status">Applied (all status)</a></li> -->
					<li><a class="govuk-link" href="/view-process-applications/v1/process/applied-1000">Applied (1000 applications and sortable table)</a></li>
					<li><a class="govuk-link" href="/view-process-applications/v1/process/shortlisted-default">Shortlisted (50 applications - default)</a></li>
					<li><a class="govuk-link" href="/view-process-applications/v1/process/shortlisted">Shortlisted (50 applications)</a></li>
					<li><a class="govuk-link" href="/view-process-applications/v1/process/selected">Selected (30 applications)</a></li>
				</ul>
				<!-- <ul class="govuk-list">
					
					<li><a class="govuk-link" href="/view-process-applications/v1/selected">Selected</a></li>
					<li><a class="govuk-link" href="/view-process-applications/v1/recommended">Recommended</a></li>
				</ul> -->
				<h4 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-font-weight-regular">Overview</h4>
				<ul class="govuk-list">
					<li><a class="govuk-link" href="/view-process-applications/v1/overview">Exercise (in progress)</a></li>
					<li><a class="govuk-link" href="/view-process-applications/v1/process/overview">Exercise (closed)</a></li>
				</ul>
				<h4 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-font-weight-regular">Timeline</h4>
				<ul class="govuk-list">
					<li><a class="govuk-link" href="/view-process-applications/v1/process/timeline">Current and past dates</a></li>
				</ul>
			</div>
		</details>
	</div>
	<div class="govuk-grid-column-one-half">
		<img src="/public/images/view-process-applications-index-page.png" class="img-border govuk-!-margin-top-6" />
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
	</div>
</div>

<!-- View reports -->
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h1 class="govuk-heading-l govuk-!-margin-top-4">View reports</h1>
		<h2 class="govuk-heading-m">Current version in progress</h2>
		<details class="govuk-details" data-module="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">Version 1</span>
			</summary>
			<div class="govuk-details__text">
				<p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-4"><a href="/view-reports/v1/" class="govuk-link">View prototype</a></p>
			</div>
		</details>
	</div>
	<div class="govuk-grid-column-one-half">
		<img src="/public/images/view-reports-index-page.png" class="img-border govuk-!-margin-top-6" />
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-l govuk-!-margin-top-4">Archive</h2>
		<ul class="govuk-list">
			<li><a href="https://staff-prototype.herokuapp.com/">Previous staff prototype</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block footer %}
<footer class="govuk-footer" role="contentinfo">
	<div class="govuk-width-container index-page">
		<div class="govuk-footer__meta">
			<div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
		  		<h2 class="govuk-visually-hidden">Support links</h2>
		  		<ul class="govuk-footer__inline-list">
					<li class="govuk-footer__inline-list-item">
						<a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype Kit v9.6.0</a>
					</li>
					<li class="govuk-footer__inline-list-item">
						<a href="/prototype-admin/clear-data">Clear data</a>
					</li>
		  		</ul>
		  		<svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
					<path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
		  		</svg>
		  		<span class="govuk-footer__licence-description">All content is available under the <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</span>
			</div>
	  	</div>
	</div>
</footer>
{% endblock %}