{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View candidate profile and history - Max Talbot{% endblock %}

{% block content %}
<div class="header-background clearfix">
	<div class="header-title govuk-!-margin-bottom-2">
		<a href="/" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-24 govuk-!-font-weight-bold">Internal service name</a>
		<nav class="float-right">
			<ul id="navigation" class="govuk-header__navigation user-menu">
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">Exercises</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="index">Candidates</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">My account</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">Sign out</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
		<span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.</span>
	</p>
</div>
<form action="add-note" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full govuk-!-margin-top-8">
			<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Max Talbot</h1>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds_ govuk-grid-column-one-half">
					<h2 class="govuk-heading-l govuk-!-margin-bottom-4">Contact details</h2>
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Email address</dt>
							<dd class="govuk-summary-list__value"><a href="#">max.talbot@example.com</a></dd>
							<dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> email</span></a></dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Phone number</dt>
							  <dd class="govuk-summary-list__value">01273 800 900</dd>
							  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> phone</span></a></dd>
						</div>
						<!-- <div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key no-border">Independent assessors</dt>
							<dd class="govuk-summary-list__value">
								<p class="govuk-body">Henry Brady</p>
								<p class="govuk-body"><a class="govuk-link" href="#">henry.brady@example.com</a></p>
								<p class="govuk-body">07771 900 900</p>
							</dd>
							<dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> assessor</span></a></dd>
						</div> 
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">&nbsp;</dt>
							<dd class="govuk-summary-list__value">
								<p class="govuk-body">Kiera Watts</p>
								<p class="govuk-body"><a class="govuk-link" href="#">kiera.watts@example.com</a></p>
								<p class="govuk-body">020 7450 4000</p>
							</dd>
							<dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> assessor</span></a></dd>
						</div> -->
					</dl>
					<h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">Diversity</h2>
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Ethnic group</dt>
							<dd class="govuk-summary-list__value">White</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Gender</dt>
							<dd class="govuk-summary-list__value">Male</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Disability</dt>
							<dd class="govuk-summary-list__value">Prefer not to say</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Professional background</dt>
							<dd class="govuk-summary-list__value">
								<ul class="govuk-list govuk-list--bullet">
									<li>Barrister</li>
									<li>Solicitor</li>
								</ul>
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Fee-paid judicial role</dt>
							<dd class="govuk-summary-list__value">Prefer not to say</dd>
						</div>
					</dl>
					<h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">Character</h2>
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key no-border">Information</dt>
							<dd class="govuk-summary-list__value">
								<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Date</p>
								<p class="govuk-body">14 May 2018</p>
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key no-border">&nbsp;</dt>
							<dd class="govuk-summary-list__value">
								<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Declaration</p>
								<p class="govuk-body">Late tax return penalty to HMRC.</p>
							</dd>
						</div>

						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key no-border">&nbsp;</dt>
							<dd class="govuk-summary-list__value">
								<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0  govuk-!-margin-top-4">Date</p>
								<p class="govuk-body">9 March 2017</p>
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">&nbsp;</dt>
							<dd class="govuk-summary-list__value">
								<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Declaration</p>
								<p class="govuk-body">SP30 3 penalty points and a fixed fine of £125.</p>
							</dd>
						</div>
					</dl>
					<h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">Eligibility</h2>
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Cititzenship</dt>
							<dd class="govuk-summary-list__value">Canada</dd>
						</div>
					</dl>
				</div>
				<div class="govuk-grid-column-one-third_ govuk-grid-column-one-half">
					<div class="govuk-!-margin-left-4"> 
						<h3 class="govuk-heading-m">Applications</h3>
						<div class="govuk-tabs" data-module="govuk-tabs">
							<h2 class="govuk-tabs__title hidden">Contents</h2>
							<ul class="govuk-tabs__list">
								<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
									<a class="govuk-tabs__tab" href="#open">Open</a>
								</li>
								<li class="govuk-tabs__list-item">
									<a class="govuk-tabs__tab" href="#closed">Closed</a>
								</li>
							</ul>
							<div class="govuk-tabs__panel govuk-!-padding-top-2" id="open">
								<table class="govuk-table">
									<thead class="govuk-table__head">
										<tr class="govuk-table__row">
											<th scope="col" class="govuk-table__header">Exercise</th>
											<th scope="col" class="govuk-table__header">Outcome</th>
										</tr>
									</thead> 
									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<td class="govuk-table__cell"><a href="applied-jac00105-abc0001">JAC00105 Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</a></td>
											<td class="govuk-table__cell">Applied</td> 
										</tr>
									</tbody>
								</table>
							</div>
							<div class="govuk-tabs__panel govuk-!-padding-top-2 govuk-tabs__panel--hidden" id="closed">
								<table class="govuk-table">
									<thead class="govuk-table__head">
										<tr class="govuk-table__row">
											<th scope="col" class="govuk-table__header">Exercise</th>
											<th scope="col" class="govuk-table__header">Outcome</th>
										</tr>
									</thead> 
									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<td class="govuk-table__cell"><a href="#">JAC00184 Senior Circuit Judge of the Employment Appeal Tribunal</a></td>
											<td class="govuk-table__cell">Appointed</td>
										</tr>
										<tr class="govuk-table__row">
											<td class="govuk-table__cell"><a href="#">JAC00148 Fee-paid Medical Members, First-tier Tribunal, Social Entitlement Chamber (Social Security and Child Support)</a></td>
											<td class="govuk-table__cell">Withdrew</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div> 
			</div>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full govuk-!-margin-top-8">
					<h2 class="govuk-heading-l">Notes about the candidate</h2>
					<button class="govuk-button govuk-button--secondary" data-module="govuk-button">Add a note</button>
					<table class="govuk-table">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
								<th scope="col" class="govuk-table__header">Note</th>
								<th scope="col" class="govuk-table__header">&nbsp;</th>
							</tr>
						</thead> 
						<tbody class="govuk-table__body">
							<!-- new example -->
							{% if data['add-note-details'] %}
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">{{ data['add-day'] }} {{ data['add-month'] | toMonth }} {{ data['add-year'] }}</td>
								<td class="govuk-table__cell">{{ data['add-note-details'] }}</td>
								<td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;<a href="#">Delete</a></td> 
							</tr>
							{% endif %}
							<!-- edit example -->
							{% if data['edit-note-details'] %}
							<tr class="govuk-table__row">
								{% if data['edit-day'] and data['edit-month'] and data['edit-year'] %}
								<td class="govuk-table__cell">{{ data['edit-day'] }} {{ data['edit-month'] | toMonth }} {{ data['edit-year'] }}</td>
								{% else %}
								<td class="govuk-table__cell">12 February 2020</td>
								{% endif %}
								<td class="govuk-table__cell">{{ data['edit-note-details'] }}</td>
								<td class="govuk-table__cell"><a href="edit-note">Edit</a>&nbsp;&nbsp;&nbsp;<a href="#">Delete</a></td> 
							</tr>
							{% else %}
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">12 February 2020</td>
								<td class="govuk-table__cell">Request to change email address.</td>
								<td class="govuk-table__cell"><a href="edit-note">Edit</a>&nbsp;&nbsp;&nbsp;<a href="#">Delete</a></td> 
							</tr>
							{% endif %}

							<!-- delete example -->
							{% if data['delete-details'] == "Yes" %}
							<!-- empty -->
							{% else %}
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">16 December 2019</td>
								<td class="govuk-table__cell">Eligibility considered by SCC. Outcome: Proceed.</td>
								<td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;<a href="delete-note">Delete</a></td> 
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}