{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - View an exercise - JAC contacts{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button type="submit" formaction="#" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 float-right" data-module="govuk-button">Add to favourites</button>
		</div>
	</div>
	<div class="govuk-grid-row clearfix">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl">JAC00105</span>
			<h1 class="govuk-heading-xl">Fee-paid Legal Members of the Mental Health Review Tribunal for Wales</h1>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
				<h4 class="moj-side-navigation__title">Exercise</h4>
				<ul class="moj-side-navigation__list">
					<li class="moj-side-navigation__item">
						<a href="index">Overview</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="website-listing">Website listing</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="vacancy-information">Vacancy information</a>
					</li>
					<li class="moj-side-navigation__item moj-side-navigation__item--active">
						<a href="contacts" aria-current="location">Contacts</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="timeline">Timeline</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="shortlisting">Shortlisting</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="eligibility-information">Eligibility information</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="working-preferences">Working preferences</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="assessment-options">Assessment options</a>
					</li>
					<li class="moj-side-navigation__item">
						<a href="downloads">Downloads</a>
					</li>		  
				</ul>
			</nav>
		</div>
		<div class="govuk-grid-column-three-quarters">
			<h2 class="govuk-heading-l float-left_">JAC contacts</h2>
			<!-- <div class="float-right">
				<p class="govuk-body govuk-!-font-weight-bold"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> JAC contacts</span></a></p>
			</div> -->
			<dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">General enquiries</dt>
					<dd class="govuk-summary-list__value"><a class="govuk-link" href="#">enquiries@judicialappointments.digital</a></dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Senior selection exercise manager</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Matt Hastings</p>
						<p class="govuk-body"><a class="govuk-link" href="#">matt.hastings@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Selection exercise manager</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Finley Marshall</p>
						<p class="govuk-body"><a class="govuk-link" href="#">finley.marshall@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key no-border">Selection exercise officers</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Ella Rogers</p>
						<p class="govuk-body"><a class="govuk-link" href="#">ella.rogers@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key no-border">&nbsp;</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Jayden Chapman</p>
						<p class="govuk-body"><a class="govuk-link" href="#">jayden.chapman@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">&nbsp;</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Maya Murphy</p>
						<p class="govuk-body"><a class="govuk-link" href="#">maya.murphy@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key no-border">Assigned commissioners</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Paige Stevens</p>
						<p class="govuk-body"><a class="govuk-link" href="#">paige.stevens@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">&nbsp;</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Oscar Matthews</p>
						<p class="govuk-body"><a class="govuk-link" href="#">oscar.matthews@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
			</dl>

			<h2 class="govuk-heading-l govuk-!-margin-top-9">Other contacts</h2>
			<dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Appropriate authority</dt>
					<dd class="govuk-summary-list__value">
						<ul class="govuk-list">
							<li>Lord Chancellor</li>
							<li>Lord Chief Justice</li>
						</ul>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">HMCTS or Welsh Government lead</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Kyle Ward</p>
						<p class="govuk-body"><a class="govuk-link" href="#">kyle.ward@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Judical Office</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Libby Cooper</p>
						<p class="govuk-body"><a class="govuk-link" href="#">libby.cooper@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Lead judge</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Leon Thompson</p>
						<p class="govuk-body"><a class="govuk-link" href="#">leon.thompson@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key no-border">Drafting judges</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Rachel Hill</p>
						<p class="govuk-body"><a class="govuk-link" href="#">rachel.hill@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">&nbsp;</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Megan Turner</p>
						<p class="govuk-body"><a class="govuk-link" href="#">megan.turner@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key no-border">Statutory consultees</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Imogen Holmes</p>
						<p class="govuk-body"><a class="govuk-link" href="#">imogen.holmes@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">&nbsp;</dt>
					<dd class="govuk-summary-list__value">
						<p class="govuk-body">Reece Jackson</p>
						<p class="govuk-body"><a class="govuk-link" href="#">reece.jackson@judicialappointments.digital</a></p>
						<p class="govuk-body">020 7450 4000</p>
					</dd>
				</div>
			</dl>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}